{%  extends "base.html" %}

{% block content %}
<div class="container">

<fieldset>
    <legend><strong>Registration form</strong></legend>

    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name() }}
            <br>
            <br>
        {{ form.email.label }} {{ form.email() }}
            <br>
        {{ form.hidden_tag() }}
        {{ form.password.label }} {{ form.password() }}
            <br>
        {{ form.confirm_password.label }} {{ form.confirm_password() }}
            <br>
            <br>
        {{ form.student.label }} {{ form.student() }}
            <br>
        {{ form.living_place.label }} {{ form.living_place() }}
            <br>
            <br>
        {{ form.feedback.label }} {{ form.feedback() }}

            <br>
            <br>
        {{ form.submit() }}
    </form>

</fieldset>>

</div>
{% endblock %}