{% extends 'base.html' %}
{% block content %}
<div class="mainBorder drop_options" style="display: flex; justify-content: center; align-items: center;">
    <div  class="drop_options options_btn" style="display: flex; justify-content: center; align-items: center;">
            <a class="options" href={{ url_for('register') }}>BOOTSTRAP-FREE CSS</a>
    </div>
    <div  class="drop_options options_btn" style="display: flex; justify-content: center; align-items: center;">
            <a class="options" href={{ url_for('sign_up') }}>THE DESPICABLE BOOTSTRAP</a>
    </div>
</div>
{% endblock %}


