<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Top 4 hiking routes in Georgia</title>
    <link type ="text/css" href = "{{ url_for('static', filename = 'css/style.css') }}" rel = "stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">GeoTOP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        {% for button in menu -%}
      <li class="nav-item active">
        <a class="nav-link" href="{{button.url}}">{{button.name}}<span class="sr-only">(current)</span></a>
          {% endfor -%}
      </li>
    </ul>
  </div>
</nav>
<h1>About me</h1>
            <img
                    class="image1"
                src="{{ url_for('static', filename='about_me.jpg') }}"
                alt="Sun at Meteo"/>

<div class="introduction">
    <p>Hi guys! My name is Sandro and I am from Tbilisi, Georgia.
        <br />This top is made according to my personal experience and tries to cover all aspects of hiking in Georgia.<br /></p>
    <p>Now a bit about me:</p>
</div>

<div class="description">
    <p>I am a 25 years old guy, working at an international organisation. Student of International Relations.
        Currently, I am studying at the Ilia State University.  Mostly interested in Data Science and Python.
        Lived in Germany, Portugal and Ukraine. From end of March 2021 based in my hometown Tbilisi, Georgia.
        <br/><br/>
        <br/> As you can understand from this website I really like hiking and climbing. Explored almost all trails in Georgia
        and nearby countries. Now thinking more about mountaineering.<br/>

        <br/> Also I like travelling (especially by bicycle)😊😍. I cycled around the Black Sea and Marmara sea
        and through Ukraine, Moldova, Belarus and Armenia. Visited around 30 countries.
        <br/>I am an open-minded, active and creative person. Always ready to share my experience and to tell you about my country.

        I am ready for new meetings and people. Of course I can give you some advice about routes and trails in Georgia and neighbour countries.<br/>



    </p>
</div>
