@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --white: #fff;
    --black: #222;
    --grey: #999;
    --light-grey: #f8f8f8;
    --blue: #4599df;
    --light-blue: #6dabe4;
    --fb: #3b5998;
    --twitter: #1da0f2;
    --google: #e72734;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--light-grey);
}
.container {
    max-width: 920px;
    margin: 0 auto;
}