html, body {
    margin:0;
    padding:0;
    height:100%;
}

li {
    list-style:none;
}

#container {
    min-height:100%;
    position:relative;
}

#body {
    padding:10px 0 60px 0;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background: rgba(0, 0, 0, 0.1);
}

#myTab {
    padding: 7% 0 0 39%;
    font-size: 25px;
    font-family: "ALK Sanet", sans-serif
}

#navbar {
    padding-left: 15px;
    font-size: 22px;
    font-family: "ALK Sanet", sans-serif
}

#placeholder {
    text-align: center;
    padding: 7% 15% 0 15%;
}

.nav-border {
    border: solid  1px rgba(0, 123, 255, 0.59);
    box-shadow: 2px 5px 2px rgba(0, 123, 255, 0.31);
}

.auth-center {
    text-align: center;
    padding: 7% 15% 0 15%;
}

.form-style {
    border-radius: 10px;
}

.auth-table {
    list-style-type: none;
    flex-direction: row;
    margin: auto;
}

.submit-style {
    position: absolute;
    padding-top: 10px;
}

[role=alert] {
    margin-top: 4%;
    text-align: center;
}
