body{
    background-color:rgb(18, 23, 14);
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.content {    
    color: white;
    margin-top: 100px;
}
.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn {
    font-size: 20px;
}