{% extends "base.html" %}
{% block content %}

<h2 id="placeholder"> რეგისტრაცია წარმატებით დასრულდა! დაადადასტურეთ თქვენი მეილი: <strong> {{ session['email'] }} </strong> </h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="alert" role="alert">
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}
