{% extends "layouts/base.html" %}
{% block content %}

    <div class="container" style="margin-top: 120px">
        <div class="row row-cols-4">
            {% for actor in actors %}
                <div class="col">
                    <div class="card" style="width: 18rem">
                        <div class="card-body">
                            <h5 class="card-title"> {{ actor.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted"> თამაშობს ფილმებში</h6>
                            {% for film in actor.films %}
                                <!-- აქაც ანალოგიური როგორც teacher-ის შემთხვევაში, შემიძლია წამოვიღო ყველა ფილმი
                                 რომელშიც ეს ავტორი თამაშობს -->
                                <p class="card-text align-self-start"> {{ film.name }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <br>
        <hr>
        <br>

        <div class="row row-cols-4">
            {% for film in films %}
                <div class="col">
                    <div class="card" style="width: 18rem">
                        <div class="card-body">
                            <h5 class="card-title"> {{ film.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted"> {{ film.genre }}</h6>
                            <p class="card-subtitle mb-2 text-muted"> ფილმში თამაშობენ: </p>
                            {% for actor in film.actors %}
                                <!-- და ფილმიდანაც შემიძლია წამოვიღო ყველა მსახიობი რომელიც მასში თამაშობს -->
                                <p class="card-text align-self-start"> {{ actor.name }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>
{% endblock %}