{% extends "base.html" %}
{% block content %}
    <div class="info">
        <header>
            <h1>"We pride ourselves on being able to offer competitive and flexible quotes for all types of productions"</h1>
        </header>
        <p>Real SFX offer competitive and cost effective special effects for all types of productions. Operating under strict codes of practice and safety, we are totally committed to delivering a personal, professional service from our uniquely qualified technicians. Our experience ensures that your effects 
            are delivered safely, on budget and as realistic as possible. Using state-of-the-art techniques and equipment, we specialise in atmospheric, fire, snow/winter effects, explosives, mechanical rigs, model making, prosthetics and soft props.

            We are proud winners of a Creative Arts Emmy award, multi-BAFTA Craft & BAFTA Cymru awards, most recently in 2020 for our work on His Dark Materials, and a Royal Television Society award winner.
            
            Our portfolio includes Peaky Blinders, Doctor Who, Good Omens, His Dark Materials, Dracula, Free Fire, Sherlock, Hanna, Victoria, Final Score, Tolkien, Luther and Coronation Street to name but a few. 2019 was another hugely successful
             year for us, having provided special effects on the latest series of the fan-favourite Peaky Blinders, a second series of the phenomenal His Dark Materials and for BBC's blood thirsty Dracula!</p>
    </div>
{% endblock %}
