{% extends "base.html" %}

{% block content %}
    <div class="container text-center" id="form-text">
        <div class="row">
          <div class="col">
            <h1>Let’s talk about your idea!</h1>
            <P>Ready to start a project or really curious about our effects?
            We like to come prepared for our first conversation, so for starters, reach out to us.</P>
          </div>
          <div class="col" id="form">
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="Phone">  
            <input type="text" placeholder="Company">
            <input type="text" placeholder="What is your query">
            <input type="submit" value="Submit">
          </div>
        </div>
    </div>
{% endblock %}
