{% from "macros.html" import create_navlink %}

<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {{ create_navlink('main.index', 'Home') }}
                {{ create_navlink('main.about', 'About') }}
                {{ create_navlink('products.all_products', 'Products') }}
            </div>
        </div>
        <form class="d-flex">
            {% if current_user.is_authenticated %}
                {% if current_user.is_admin() %}
                    <a href="#" class="btn btn-danger">Admin Panel</a>
                {% endif %}
                <a href="/logout" class="btn btn-success">Logout</a>

            {% else %}
                <a href="/login" class="btn btn-success mx-2">Login</a>
                <a href="/register" class="btn btn-success">Register</a>
            {% endif %}
        </form>
    </div>
</nav>
