@font-face {
    font-family: 'BPG Nino Elite';
    src: url('bpg-nino-elite-webfont.eot'); /* IE9 Compat Modes */
    src: url('bpg-nino-elite-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('bpg-nino-elite-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('bpg-nino-elite-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('bpg-nino-elite-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('bpg-nino-elite-webfont.svg#bpg_nino_eliteregular') format('svg'); /* Legacy iOS */
}
