body {
    background: lightblue;
}

h1 {
    border: black;
    border-width: thin;
    border-style: solid;
    color: blue;
}


h2 {
    color: purple;
}


.loginForm input {
    border: rgb(139,0,0);
    border-width: 2px;
    border-style: solid;
}

div p {
    background: lightyellow;
}


div #textblock {
    border: gray;
    border-width: 5px;
    border-style: solid;
    width: 800px;
    height: 400px;
}

li a {
    color: red;
}

#itemone {
    color: purple;
    text-decoration: overline;
}

.exit {
    background: blue;
    border: yellow;
    border-width: 4px;
    border-style: dashed;
}


a:visited {
    color: purple;
}
