<footer>
    <div>
        <h3>CONTACT US</h3>
        <div>
            <img src="{{ url_for('static', filename = 'images/email-3-xxl.PNG')}}" alt="phone">
            <p>(e) info@realsfx.com</p>
        </div>
        <div>
            <img src="{{ url_for('static', filename = 'images/phone-28-xxl.PNG')}}" alt="phone">
        <p>(t) 029 2034 2690</p>
        </div>
        <div>
            <img src="{{ url_for('static', filename = 'images/pin-8-xl.PNG')}}" alt="phone">
        <p>Rear of ATS
            Ipswich Road</p>
        </div>
    </div>
    <p>© 2023 SFX Georgia. All rights reserved.</p><a href="">log in</a>

</footer>