<footer>
    <div class="d-flex justify-content-around">
        <div class="col-md-2">
            <h3>ABOUT COMPANY</h3>
            <P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy  </P>
        </div>
        <div class = "contact">
            <h3>CONTACT US</h3>
            <div>
                <img src="{{ url_for('static', filename = 'images/phone-28-xxl.PNG')}}" alt="phone icon">
                <p>(t) 029 2034 2690</p>
            </div>
            <div >
                <img src="{{ url_for('static', filename = 'images/email-3-xxl.PNG')}}" alt="email icon">
                <p>(e) info@realsfx.com</p>
            </div>
            <div>
                <img src="{{ url_for('static', filename = 'images/pin-8-xl.PNG')}}" alt="pin icon">
                <p>Rear of ATS
                    Ipswich Road</p>
            </div>
        </div>
        <div >
            <h3>FOLLOW US</h3>
            <div>
                <img class = "mt-3" src="{{ url_for('static', filename = 'images/facebook-3-xl.PNG')}}" alt="facebook icon">
                <p></p>
            </div>
        </div>
    </div>
    <p>© 2023 SFX Georgia. All rights reserved.</p><a href="{{ url_for('auth.login')}}">log in</a>

</footer>