#top{
    border: 16px solid blueviolet;
    border-radius: 16px;
    padding: 10px;
    margin: auto;
    text-align: center;
    width: 50%;
}

#bottom{
    border: 16px solid orange;
    border-radius: 16px;
    padding: 60px 10px 50px 60px;
    text-align: center;
    height: 250px;
}
