{% extends "layouts/base.html" %}

{% block title %}
    Quick Quiz - Login
{% endblock %}

{% block body %}
<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
             class="img-fluid" alt="Sample image">
    </div>
    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                <button type="button" class="btn btn-primary btn-floating mx-1">
                    <i class="fab fa-google text-white"></i>
                </button>
            </div>
            <div class="divider d-flex align-items-center my-4">
                <p class="text-center fw-bold mx-3 mb-0">OR</p>
            </div>
            
            <!-- Email input -->
            <div class="form-outline mb-4">
                {{ form.email(size=32, class_="form-control") }}
                {% for error in form.email.errors %}
                    <span style="color: red;">{{ error }}</span><br>
                {% endfor %}
                <label class="form-label" for="form3Example3">Email address</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-3">
                {{ form.password(class_="form-control") }}
                {% for error in form.password.errors %}
                    <span style="color: red;">{{ error }}</span><br>
                {% endfor %}
                <label class="form-label" for="form3Example4">Password</label>
            </div>

            <div class="d-flex justify-content-between align-items-center">
                <!-- Checkbox -->
                <div class="form-check mb-0">
                    {{ form.remember(class_="form-check-input me-2") }}
                    <label class="form-check-label" for="form2Example3">
                        Remember me
                    </label>
                </div>
                <a href="#!" class="text-body">Forgot password?</a>
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
                {{ form.submit(class_="btn btn-primary btn-lg") }}
                <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="{{ url_for('auth.register') }}"
                    class="link-danger">Register</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
