
/*for all*/
.all{
    color: aliceblue;
}
/*for body*/
body {
    background-color: black;
}
/*for navbar*/
.navbar:active{
    color: 2px 2px 5px #00ff0d;
}
.navbar{
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 40px;
    width: 100%;
    background-color: rgb(212, 21, 15);


}

.navbar a{
    border-radius: 10%;
    padding: 13px;
    margin: 2px 10px;
    text-decoration: none;
    color: rgb(255, 239, 10);
    transition: 0.5s;
}
.navbar a:hover{
    background-color: rgb(199, 31, 31);
}

/*for rammstein heading*/
.rammstein{
    color: rgb(255, 35, 35);
    text-align: center;
    margin: 3%;
    font-family:  'Trocchi', serif;
    font-weight: 700;
    text-transform: uppercase;

}
/* for Rammstein old songs links on the top of page*/
.linksleft{
    background-image: linear-gradient( black, red, yellow);
    position: absolute;
    margin-top: 6%; 
    margin-left: 4%;
    border-radius: 5%;
    background-size: auto;
}
.linksleft a{
    color: rgb(34, 0, 184);
    text-decoration: none;
    text-align: left;
    transition: 0.2s;
}
.linksleft a:hover{
    font-weight: 900;
}

.linksright{
    background-image: linear-gradient( black, red, yellow);
    position: absolute;
    margin-top: 6%; 
    margin-left: 76%;
    border-radius: 5%;
    background-size: auto;
}
.linksright a{
    color: rgb(34, 0, 184);
    text-decoration: none;
    text-align: left;
    transition: 0.2s;
}
.linksright a:hover{
    font-weight: 900;
}

/*this is for rammstein info*/
.ramminfo {
    margin: 2%;
    background-image: linear-gradient(black, red);
    border-radius: 5%;
    font-weight: 500;
}
.ramminfo p{
    margin: 4%;
    color: rgb(248, 188, 240);
}
.ramminfo a{
    text-decoration: none;
    color: rgb(251, 255, 0);
    transition: 0.3s;
}
.ramminfo a:hover{
    font-weight: 700;
}

/*new songs of rammstein*/
.newsongs{
    margin-left: 2%;
    margin-right: 50%;
    margin-top: 4%;
    background-image: linear-gradient( rgb(0, 0, 0),rgb(255, 0, 0), yellow);
    background-size: auto;
    border-radius: 5%;
}
.newsongs h2{
    color: rgb(255, 251, 10);
}
.newsongs a{
    color: rgb(238, 234, 255);
    text-decoration: none;
    text-align: left;
    transition: 0.2s;
}
.newsongs a:hover{
    font-weight: 700;
}
/*rammstein shop*/
.rammshop{
    position: relative;
    margin-top: -3%;
    margin-left: 80%;
}
.rammshop a{
    color: rgb(255, 102, 0);
    text-decoration: none;
    text-align: left;
    transition: 0.2s;
    font-size: large;
 
}
.rammshop a:hover{
    font-weight: 700;
}
/* firstline register adn buy ticketshere*/
.tickettop{
    text-align: center;
}
.tickettop h1{
    color: rgb(255, 35, 35) ;
    margin: 3%;
    font-family:  'Trocchi', serif;
    font-weight: 600;
    text-transform: uppercase;
}
