{% macro sign_in(form_sign_in) %}
    <form class="auth-center-login" method="POST">
        <table class="auth-table">
            <tr>
                <td>{{ form_sign_in.hidden_tag() }}</td>
            </tr>
            <tr>
                <td>{{ form_sign_in.identifier(class_='auth-input', placeholder='მომხმარებლის სახელი ან ელფოსტა', autofocus='1') }}</td>
            </tr>
            <tr>
                <td>{{ form_sign_in.login_password(class_='auth-input', placeholder='პაროლი') }}</td>
            </tr>
            <tr>
                <td><span class="remember-me"> {{ form_sign_in.remember_me.label }} {{ form_sign_in.remember_me(class_='remember-me') }}</span></td>
            </tr>
            <tr>
                <td> <span class="submit-style-login"> {{ form_sign_in.submit_login }} </span> </td>
            </tr>
        </table>
    </form>
    <br><br><br><br><br>
{% endmacro %}


{% macro register(form_register) %}
    <form class="auth-center-register" method="POST" enctype="multipart/form-data">
        <table class="auth-table">
                <td>{{ form_register.hidden_tag() }}</td>
            <tr>
                <td>{{ form_register.username(
                    class_='auth-input auth-input-short',
                    placeholder='მომხმარებლის უნიკალური სახელი') }}
                </td>
            </tr>
            <tr>
                <td>{{ form_register.name_first(
                    class_='auth-input auth-input-shorter',
                    placeholder='სახელი') }} &nbsp;&nbsp;&nbsp;

                    {{ form_register.name_last(
                    class_='auth-input auth-input-shorter',
                    placeholder='გვარი') }}
                </td>
            </tr>
            <tr>
                <td>{{ form_register.email(
                    class_='auth-input auth-input-short',
                    placeholder='ელექტრონული ფოსტა') }}
                </td>
            </tr>
            <tr>
                <td>{{ form_register.phone(
                    class_='auth-input auth-input-short',
                    placeholder='მობილურის ნომერი') }}
                </td>
            </tr>
            <tr>
                <td> <span id="help-register-age"> {{ form_register.dob.label }} </span> <br>
                    {{ form_register.dob(
                    class_='input-date', type='date',
                    min="1900-01-01", max="2008-12-31",
                    value="2000-06-01") }}
                </td>
            </tr>
            <tr>
                <td> <span id="help-register-sex"> <br> {{ form_register.sex.label }} </span> <br>
                    {{ form_register.sex(
                    class_="input-sex") }}
                    <img id="uploaded-profile-picture" src="#" alt="your image" />
                </td>
            </tr>
            <tr>
                <td>
                    <label class="input-picture input-profile-picture"> პროფილის სურათი*
                    {{ form_register.picture(
                    accept="image/*",
                    class_="hidden-picture-form",
                    onchange="displayUploaded(this, 'profile_picture')") }}
                    </label>
                </td>
            </tr>
            <tr>
                <td><span id="help-register-picture"> *არაა აუცილებელი</span> </td>
            </tr>
            <tr>
                <td> <br> {{ form_register.password(class_='auth-input auth-input-short', placeholder='ახალი პაროლი') }}</td>
            </tr>
            <tr>
                <td>{{ form_register.conf_pass(class_='auth-input auth-input-short', placeholder='გაიმეორეთ პაროლი') }}</td>
            </tr>
            <tr>
                <td> <span class="submit-style-register" id="profile-submit-update"> {{ form_register.submit_register }} </span> </td>
            </tr>
        </table>
    <br><br><br><br>
    </form>
{% endmacro %}
