{% macro nav_link(endpoint, name) %}
{% if request.endpoint.endswith(endpoint) %}
    <a type="button" class="btn btn-primary active" href="{{ url_for(endpoint) }}">{{name}}</a>
{% else %}
    <a type="button" class="btn btn-primary" href="{{ url_for(endpoint) }}">{{name}}</a>

{% endif %}
{% endmacro %}

{% macro nav_generator(pages) %}
            {% for page in pages %}
            {{ nav_link(page[0],page[1]) }}
            {% endfor %}
{% endmacro %}

{% macro table_header_generator(headers) %}
  <thead>
    <tr>
        {% for header in headers %}
            <th scope="col">{{header}}</th>
        {% endfor %}
    </tr>
  </thead>
{% endmacro %}

{% macro table_row_generator(rows) %}
  <tbody>
    {% for row in rows %}
    <tr>
        {% for item in row %}
        <td>{{item}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
{% endmacro %}

{% macro table_generator(table) %}

<table class="table table-dark">

    {{ table_header_generator(table['headers']) }}
    {{ table_row_generator(table['rows']) }}

</table>

{% endmacro %}