<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/index.css') }}">
	<title>Discite Physicam</title>
</head>

<body>
	<div class="container" id="container">

		<div class="form-container sign-up-container">

			<form method="POST">
				{{ Reg.hidden_tag() }}
				<h1>Create Account</h1>
				<span>or use your email for registration</span>

				{{ Reg.username(placeholder="Username")}}

				{{ Reg.email(placeholder="Email") }}

				{{ Reg.password(placeholder="Password") }}

				{{ Reg.submit(class="button",value= "Sign Up")}}

			</form>
		</div>




		<div class="form-container sign-in-container">
			<form  method="POST">
				{{ Auto.hidden_tag() }}
				{% if not Auto.validate_on_submit() %}
				<h1> wrong user or pass </h1>
				{% endif %}

				<h1>Sign in</h1>

				<span>or use your account</span>
				{{ Auto.email(placeholder="Email") }}
				{{ Auto.password(placeholder="Password") }}
				<a href="/">Forgot your password?</a>
				{{ Auto.submit_aut( class="button", value= "Sign in" )}}
			</form>
		</div>




		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Welcome Back!</h1>
					<p>To keep connected with us please login with your personal info</p>
					<button class="ghost" id="signIn">Sign In</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Hello, Friend!</h1>
					<p>Enter your personal details and start journey with us</p>
					<button class="ghost" id="signUp">Sign Up</button>
				</div>
			</div>
		</div>
	</div>


</body>

</html>


<script>

	const signUpButton = document.getElementById('signUp');
	const signInButton = document.getElementById('signIn');
	const container = document.getElementById('container');

	signUpButton.addEventListener('click', () => {
		container.classList.add("right-panel-active");
	});

	signInButton.addEventListener('click', () => {
		container.classList.remove("right-panel-active");
	});

</script>