{% extends "base.html" %}
{% block title %} Contact {% endblock %}
{% block content %} 
<div class="container my-3 my-sm-5">


    <h1 class="mb-sm-4 text-center mb-4">Contact Us</h1>
    <hr>
    <div class="row">
        <div class="col-12 col-md-6">
            <h4>Address</h4>
            <address>
                <strong>
                    UB City
                </strong>
                <br>
                #41 3rd cross <br>
                Bangalore,India <br>
                <abbr title="Telephone">T:</abbr> <a href="tel:+919036242596">+91 90362 42596</a> <br>
                <abbr title="Mail">M:</abbr><a href="mailto:info@domain.com">info@domain.com</a><br>
            </address>
        </div>
        <div class="col-12 col-md-6">

            <h4>Opening hours</h4>
            <p>
                Monday-Thursday: <span class="float-right">10 am - 6 pm  </span> <br>
            </p>
            <p>
                Friday-Saturday: <span class="float-right"> 10 am - 5 pm</span> <br>
            </p>
            <p>
                Sunday: <span class="float-right"> 10 am - 2 pm</span> <br>
            </p>
        </div>
    </div>
    <div class="row">

        <div class="col-12 col-md-6 mb-3">
            <h4>Send us a message</h4>
            <form action="#">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">

                            {{ form.name.label }} {{ form.name(class_="form-control m-2") }}

                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            {{ form.hidden_tag() }}
                            {{ form.email.label }} {{ form.email(class_="form-control m-2") }}
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    {{ form.textarea.label }} {{ form.textarea(class_="form-control m-2") }}
                </div>
                {{ form.submit(class_="form-control btn btn-success mt-3") }}
            </form>
        </div>
        <div class="col-12 col-md-6">


            <h4>Where to find us</h4>
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.6175453420647!2d-73.98784413479707!3d40.748440379327945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9aeb1c6b5%3A0x35b1cfbc89a6097f!2sEmpire+State+Building%2C+350+5th+Ave%2C+New+York%2C+NY+10118%2C+USA!5e0!3m2!1sda!2sdk!4v1491841211721"
                    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}