/*Choose a cool Font Text Scheme*/

h1{
  text-align: center;
}

/*Choose a color palette from here:
https://coolors.co/
or create your own here:
paletton.com!*/
/*html{*/
/*  border: 1px solid black;*/

/*}*/
.exhibition{
  text-align: center;
  color: transparent;
  padding-bottom: 20px;
  border: 3px solid #000000;
  height: 500px;
  width: 280px;
  background-color: firebrick;
  margin: 20px;

}
#first {
  background-color: firebrick;
  border-color: firebrick;

}
#Second {
  background-color: darkgoldenrod;
  border-color: darkgoldenrod;
}
#third{
  background-color: #25457a;
  border-color: #25457a;
}
#Fourth{
  background-color: #087a3a;
  border-color: #087a3a;
}
#fifth{
  background-color: silver;
  border-color: silver;
}



