{%  extends "base.html" %}

{% block content %}

<div class="jumbotron">

<fieldset>
    <legend><strong>Registration form for tutors</strong></legend>

    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.username.label }} {{ form.username() }}
            <br>
            <br>
        {{ form.email.label }} {{ form.email() }}
            <br>
            <br>
        {{ form.password.label }} {{ form.password() }}
            <br>
        {{ form.confirm_password.label }} {{ form.confirm_password() }}
            <br>
            <br>
        {{ form.subject.label }} {{ form.subject() }}
            <br>
            <br>
        {{ form.submit() }}
    </form>

</fieldset>>

</div>
{% endblock %}