{% extends "base.html"%}

{% block page_title %}
    Sign Up
{% endblock %}

{% block content %}
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            <label for="floatingInput">Username</label>
            {{ form.username(class_="form-control", id="floatingInput") }}
        </div>
        <div class="mb-1">
            <label for="password_1" class="form-label">Password</label>
            {{ form.password1(class_="form-control", id="password_1") }}
            <small>Password must include one capital letter and at least one number</small>
        </div>
        <div class="mb-1">
            <label for="password_2" class="form-label">Repeat Password</label>
            {{ form.password2(class_="form-control", id="password_2") }}
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
    </form>
{% endblock %}