{% extends "layouts/base.html" %}

{% block title %}
    Flask Webproject - Products
{% endblock %}

{% block body %}

    <div class="row">
        {% for product in prlist %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> {{ product.name }}</h5>
                    <p class="card-text"> {{ product.description }}</p>
                    <a href="/product/{{ product.id }}" class="btn btn-primary">Details</a>
                    {% if current_user.is_authenticated %}
                        <a href="#" class="btn btn-warning">ყიდვა</a>

                        {% if current_user.is_admin() %}
                            <a href="/edit_product/{{ product.id }}" class="btn btn-success">რედაქტირება</a>
                        {% endif %}

                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
