*{
    margin: 0;
    padding: 0;
}
html{
    height: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, rgba(255,184,111,1) 0%, rgba(255,209,163,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 60%;
    height: 80%;
    background-color: #261132;
    border-radius: 20px;
    box-shadow: 0 0 42px -8px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #E0CA3C;
    overflow: auto;
}
.description{
    width: 60%;
    margin-top: 20px;
}
.description p{
    text-align: center;
}
.form-container{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}
form{
    width: 70%;
    display: flex;
    flex-direction: column;
}
input{
    width: 100%;
    font-size: 20px;
    background: none;
    border: none;
    border-bottom: 3px solid white;
}
input::placeholder{
    color: #E0CA3C;
}
input:focus {
    border-color: #E0CA3C;
    outline: none;
}

select{
padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

textarea{
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
}

button{
    align-self: center;
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
    background-color: #BA5C12;
}


::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius:0 20px 20px 0
}

::-webkit-scrollbar-thumb {
    background: #E0CA3C;;
    border-radius: 0 20px 20px 0;
}
::-webkit-scrollbar-thumb:hover {
    background: #908227;
}