{% extends 'base.html' %} {% block head %}
<title>TEAM-APP | ASK</title>
{% endblock%} {% block body %}
<div class='ask'>
<div class="wrapper">
  <form action="/ask" method="POST">
    <fieldset>
      <h1>What's your question?</h1>
      <textarea
        placeholder="Type your question here..."
        rows="3"
        name="question"
        required
      ></textarea>

      <select class="form-select" name="mentor" required>
        <option selected disabled value="" >
          Choose who the question is inteded for
        </option>
        {% for mentor in mentors %}
        <option value="{{ mentor['id']}}">{{mentor['name']}}</option>
        {%endfor%}
      </select>

      <button type="submit" class="ask-btn">Submit Your Question</button>
    </fieldset>
  </form>
</div>
</div>
</div>{% endblock%}
