{% extends 'base.html' %} {% block head %}
<title>TEAM-APP | USER STATUS</title>
{% endblock%}

{% block body %}
<div class="row">
    <div class="page-header">
      <h1>Users</h1>
      <p>Click to assign or change the status</p>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
    {%for user in users%}
      <tbody>
        <tr>
          <th scope="row">{{user['name']}}</th>
          <td>
            <form method="POST" action="{{url_for('users')}}">
              <fieldset id="{}".format({{user['name']}})>
              <!--<input type="radio" class="btn-check" name={{user['id']}} id="{}1".format({{user['name']}}) autocomplete="off" />
              <label class="btn btn-secondary" for="{}1".format({{user['name']}})>Senior</label>
            
              <input type="radio" class="btn-check" name={{user['id']}} id="{}2".format({{user['name']}}) autocomplete="off" />
              <label class="btn btn-secondary" for="{}2".format({{user['name']}})>Junior</label>
            
              <input type="radio" class="btn-check" name={{user['id']}} id="{}3".format({{user['name']}}) autocomplete="off" />
              <label class="btn btn-secondary" for="{}3".format({{user['name']}})>Intern</label> -->    
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name={{user['id']}} 
                id="senior" value="0">
                <label class="form-check-label" for="senior">Senior</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name={{user['id']}}  id="junior" value="1">
                <label class="form-check-label" for="junior">Junior</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name={{user['id']}}  id="intern" value="2">
                <label class="form-check-label" for="intern">Intern</label>
              </div>
          </fieldset>
        
      </td>
    </tr>
  </tbody>
      {%endfor%}
  </table>

  <h6>Are you sure you want to save changes?</h6>
  <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
    <button type="submit" class="btn btn-dark" id='l'>Save</button>
  </div>

</form>
    </div>
  </div>
</div>
{% endblock%}
