/*Choose a cool Font Text Scheme*/

h1{
  font-family: 'Permanent Marker';
  text-align: center;
}

table{
    margin: auto;
}
td{
    height: 700px;
}
#table #first {
    background-color: red;
}
#table #second {
    background-color: orange;
}
#table #third {
    background-color: yellow;
}
#table #fourth {
    background-color: green;
}
#table #fifth {
    background-color: lightblue;
}
#table #sixth {
    background-color: blue;
}
#table #seventh {
  background-color: purple;
}

/*Choose a color palette from here:
https://coolors.co/
or create your own here:
paletton.com!*/
