{% extends "base_GE.html" %}
{% block Title %}
<title>LogIn</title>
{% endblock %}


{% block content %}

<div class="container mx-auto pt-5" style="width: 30%">
    <div class="pt-3">
        <form class="bg-light border border-info rounded pt-3 pb-3">

          <div class="form-group mx-auto" style="width: 95%">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   placeholder="თქვენი მეილი" style="font-family: Consolas, monaco, monospace;" >
          </div>

          <div class="form-group mx-auto mb-2" style="width: 95%">
            <input type="password" class="form-control" id="exampleInputPassword1"
                   placeholder="პაროლი" style="font-family: Consolas, monaco, monospace;">
          </div>


          <div class="col ml-1 pb-1">
              <a href="">დაგავიწყდათ პაროლი?</a>
          </div>

          <div class="col text-center pt-2">
            <button type="submit" class="btn btn-primary btn-md mx-auto" style="width: 30%" >შესვლა</button>
          </div>

          <hr class="mx-auto" style="width: 80%"/>

          <div class="container mx-auto text-secondary text-center mb-2">
              არ ხართ დარეგისტრირებული?
          </div>

          <div class="col text-center pt-2 pb-2">
               <a href= "{{url_for('signup_ge')}}" type="submit" class="btn btn-success btn-md mx-auto" style="width: 50%"> დარეგისტრირება </a>
          </div>
        </form>
    </div>
</div>

{% endblock %}
