{% macro nav_link(endpoint, name) %}
{% if request.endpoint.endswith(endpoint) %}
    <a class="nav-item nav-link active" href="{{ url_for(endpoint) }}">{{name}}</a>
{% else %}
    <a class="nav-item nav-link" href="{{ url_for(endpoint) }}">{{name}}</a>
{% endif %}
{% endmacro %}


{% macro create_select_menu(_id, label, options_list, option_selected=None) %}
    <label for={{_id}} > {{label}} </label>
        <select id={{_id}} class="form-control">
          {%if option_selected%}
            <option selected>{{option_selected}}</option>
          {%endif%}
          {% for i in options_list %}
            <option>{{i}}</option>
          {% endfor %}
        </select>
{% endmacro %}

{% macro create_select_menus(menu_data) %}
    {% for data_dict in menu_data%}
        <div class="form-group col-md-4">
           {{create_select_menu(data_dict._id, data_dict.label,
            data_dict.options_list, data_dict.option_selected)}}
        </div>
    {% endfor %}
{% endmacro %}

{% macro create_input_form(_id, label, _placeholder) %}
    <label for={{_id}} >{{label}}</label>
        <input id={{_id}} type="text" class="form-control" placeholder={{_placeholder}}>
        <!-- {{_placeholder | pprint}} -->
{% endmacro %}


{% macro create_input_forms(form_data) %}
    {% for data_dict in form_data%}
        <div class="form-group col-md-3">
            {{create_input_form(data_dict._id, data_dict.label,
            data_dict.placeholder)}}
            <!-- {{data_dict.placeholder | pprint}} -->
        </div>
    {% endfor %}
{% endmacro %}