{% extends "base.html" %}
{% block content %}

<div id="Sales" class="container">
    </br><h2 class="baloo-text text-center">Offered Articles</h2>
    <div class="row row-cols-1 row-cols-md-4">
        <div class="col mb-4">
            <div class="card" style="width: 17.5rem;">
                <img src="" class="card-img-top" alt="Picture">
                <div class="card-body">
                    <h5 class="card-title">Text</h5>
                    <h6 class="text-right">Price</h6></br>
                    <a href="" class="btn btn-primary">Enter</a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card" style="width: 17.5rem;">
                <img src="" class="card-img-top" alt="Picture">
                <div class="card-body">
                    <h5 class="card-title">Text</h5>
                    <h6 class="text-right">Price</h6></br>
                    <a href="" class="btn btn-primary">Enter</a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card" style="width: 17.5rem;">
                <img src="" class="card-img-top" alt="Picture">
                <div class="card-body">
                    <h5 class="card-title">Text</h5>
                    <h6 class="text-right">Price</h6></br>
                    <a href="" class="btn btn-primary">Enter</a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card" style="width: 17.5rem;">
                <img src="" class="card-img-top" alt="Picture">
                <div class="card-body">
                    <h5 class="card-title">Text</h5>
                    <h6 class="text-right">Price</h6></br>
                    <a href="" class="btn btn-primary">Enter</a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card" style="width: 17.5rem;">
                <img src="" class="card-img-top" alt="Picture">
                <div class="card-body">
                    <h5 class="card-title">Text</h5>
                    <h6 class="text-right">Price</h6></br>
                    <a href="" class="btn btn-primary">Enter</a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card" style="width: 17.5rem;">
                <img src="" class="card-img-top" alt="Picture">
                <div class="card-body">
                    <h5 class="card-title">Text</h5>
                    <h6 class="text-right">Price</h6></br>
                    <a href="" class="btn btn-primary">Enter</a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card" style="width: 17.5rem;">
                <img src="" class="card-img-top" alt="Picture">
                <div class="card-body">
                    <h5 class="card-title">Text</h5>
                    <h6 class="text-right">Price</h6></br>
                    <a href="" class="btn btn-primary">Enter</a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card" style="width: 17.5rem;">
                <img src="" class="card-img-top" alt="Picture">
                <div class="card-body">
                    <h5 class="card-title">Text</h5>
                    <h6 class="text-right">Price</h6></br>
                    <a href="" class="btn btn-primary">Enter</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
