{% extends "base.html" %}
{% block content %}

<div id="Sales" class="container">
    </br><h2 class="baloo-text text-center">See Object from the Novels' Table</h2>
</div>
<form method="POST">
        {{myform.hidden_tag()}}
        {{myform.name.label}}
        {{myform.name}}
        <br>
        {{myform.submit}}
<br>
</form>
    {% if data != None %}
        <h6>id = {{ data.id }}</h6>
        <h6>name = {{data.name}}</h6>
        <h6>Author = {{author}}</h6>

    {% endif %}
{% endblock %}
