<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        {% if name %}
            <h1>Hello {{ name }}!</h1>
        {% else %}
            <h1>Hello World! </h1>
        {% endif %}

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam amet asperiores commodi delectus dicta doloribus ducimus error illo magni nostrum numquam obcaecati perferendis placeat quibusdam, saepe sed tempora voluptatem!</p>
    </div>
</body>
</html>