{% extends "header.html" %}
{% block content %}
<div id="main-body" class="container py-4">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-2-3 d-none d-lg-block">
            {{create_sidebar()}}
        </div>
        <!-- Promotions carousel -->
        <div class="col">
            <div id="promotions" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner rounded">
                    <div class="carousel-item active" style="max-height: 535px">
                        <img src="../static/img/carousel.png" class="d-block img-fluid" alt="..."
                             style="height: auto; width: auto; object-fit: cover">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#promotions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#promotions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
        <!-- Featured Products -->
        <div id="Products" class="container">
            </br><h2 class="roboto-text text-center">FEATURED PRODUCTS</h2> </br>
            <div class="row row-cols-2 row-cols-md-5">

                <div class="col mb-4">
                    <div class="card mx-auto">
                        <img src="../static/img/ripjaws.jpg" class="card-img-top" alt="Ripjaws">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title" style="">G.SKILL Ripjaws V Series 16GB</h5>
                            <h6 class="text-right">120.00$</h6></br>
                            <a href="" class="mt-auto btn btn-primary">Buy now</a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card mx-auto">
                        <img src="../static/img/ripjaws.jpg" class="card-img-top" alt="Ripjaws">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">G.SKILL Ripjaws V Series 16GB</h5>
                            <h6 class="text-right">120.00$</h6></br>
                            <a href="" class="mt-auto btn btn-primary">Buy now</a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card mx-auto">
                        <img src="../static/img/ripjaws.jpg" class="card-img-top" alt="Ripjaws">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">G.SKILL Ripjaws V Series 16GB</h5>
                            <h6 class="text-right">120.00$</h6></br>
                            <a href="" class="mt-auto btn btn-primary">Buy now</a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card mx-auto">
                        <img src="../static/img/ripjaws.jpg" class="card-img-top" alt="Ripjaws">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">G.SKILL Ripjaws V Series 16GB</h5>
                            <h6 class="text-right">120.00$</h6></br>
                            <a href="" class="mt-auto btn btn-primary">Buy now</a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card mx-auto">
                        <img src="../static/img/ripjaws.jpg" class="card-img-top" alt="Ripjaws">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">G.SKILL Ripjaws V Series 16GB</h5>
                            <h6 class="text-right">120.00$</h6></br>
                            <a href="" class="mt-auto btn btn-primary">Buy now</a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card mx-auto">
                        <img src="../static/img/ripjaws.jpg" class="card-img-top" alt="Ripjaws">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">G.SKILL Ripjaws V Series 16GB</h5>
                            <h6 class="text-right">120.00$</h6></br>
                            <a href="" class="mt-auto btn btn-primary">Buy now</a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card mx-auto">
                        <img src="../static/img/ripjaws.jpg" class="card-img-top" alt="Ripjaws">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">G.SKILL Ripjaws V Series 16GB</h5>
                            <h6 class="text-right">120.00$</h6></br>
                            <a href="" class="mt-auto btn btn-primary">Buy now</a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card mx-auto">
                        <img src="../static/img/ripjaws.jpg" class="card-img-top" alt="Ripjaws">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">G.SKILL Ripjaws V Series 16GB</h5>
                            <h6 class="text-right">120.00$</h6></br>
                            <a href="" class="mt-auto btn btn-primary">Buy now</a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card mx-auto">
                        <img src="../static/img/ripjaws.jpg" class="card-img-top" alt="Ripjaws">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">G.SKILL Ripjaws V Series 16GB</h5>
                            <h6 class="text-right">120.00$</h6></br>
                            <a href="" class="mt-auto btn btn-primary">Buy now</a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card mx-auto">
                        <img src="../static/img/ripjaws.jpg" class="card-img-top" alt="Ripjaws">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">G.SKILL Ripjaws V Series 16GB</h5>
                            <h6 class="text-right">120.00$</h6></br>
                            <a href="" class="mt-auto btn btn-primary">Buy now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">
    </br><h2 class="roboto-text text-center">ON SALE</h2></br>

    <div class="row">
        <div id="OnSale" class="container">
            <div class="row row-cols-2 row-cols-md-4">

                <div class="col mb-4">
                    <div class="card mx-auto">
                        <img src="../static/img/ripjaws.jpg" class="card-img-top" alt="Ripjaws">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">G.SKILL Ripjaws V Series 16GB</h5>
                            <h6 class="text-right"><s>180.00$</s>120.00$</h6></br>
                            <a href="" class="mt-auto btn btn-primary">Buy now</a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card mx-auto">
                        <img src="../static/img/ripjaws.jpg" class="card-img-top" alt="Ripjaws">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">G.SKILL Ripjaws V Series 16GB</h5>
                            <h6 class="text-right"><s>180.00$</s> 120.00$</h6></br>
                            <a href="" class="mt-auto btn btn-primary">Buy now</a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card mx-auto">
                        <img src="../static/img/ripjaws.jpg" class="card-img-top" alt="Ripjaws">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">G.SKILL Ripjaws V Series 16GB</h5>
                            <h6 class="text-right"><s>180.00$</s> 120.00$</h6></br>
                            <a href="" class="mt-auto btn btn-primary">Buy now</a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card mx-auto">
                        <img src="../static/img/ripjaws.jpg" class="card-img-top" alt="Ripjaws">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">G.SKILL Ripjaws V Series 16GB</h5>
                            <h6 class="text-right"><s>180.00$</s> 120.00$</h6></br>
                            <a href="" class="mt-auto btn btn-primary">Buy now</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}