{% extends "header.html" %}
{% block content %}

<div class="container pt-4">
    <div class="row">
        <div class="col-5">
            <img src="../../static/img/{{product.img}}" style="height: auto; width: 420px;" class="img-fluid">
        </div>
        <div class="col-7">
            <div class="card-body text-right bg-light mb-3 h-100">
                <h3 class="card-title">{{product.manufacturer}} {{product.model}}</h3>
                <h6 class="text-right">Price: {{product.price}}$</h6>
                <h6 class="text-right">Stock: {{product.quantity}}</h6></br>
                <a href="" class="btn btn-primary">Buy now</a>
            </div>
        </div>
    </div>
    <table class="table">
        {% for key in product %}
            {% if key not in ("img", "quantity", "price", "_sa_instance_state") %}
            <tr>
                <th scope="row">{{key}}</th>
                <td>{{product[key]}}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>

{% endblock %}