{% macro nav_class(page) %}
{% if request.endpoint.endswith(page) %}
    active
{% endif %}
{% endmacro %}

{%macro create_sidebar()%}
<div class="product-sidebar">
    <a class="head" style="color:white;">CATEGORIES</a>
    <a>Computers</a>
    <div class="product-submenu">
        <a>Computer Parts</a>
        <div class="submenu-content">
            <a href="{{url_for('catalog', product_type='case')}}" style="color:black;">Computer Case</a>
            <a href="{{url_for('catalog', product_type='motherboard')}}" style="color:black;">Motherboard</a>
            <a href="{{url_for('catalog', product_type='cpu')}}" style="color:black;">CPU</a>
            <a href="{{url_for('catalog', product_type='gpu')}}" style="color:black;">Graphics Card</a>
            <a href="{{url_for('catalog', product_type='ram')}}" style="color:black;">RAM</a>
            <a href="{{url_for('catalog', product_type='storage')}}" style="color:black;">Storage</a>
            <a href="{{url_for('catalog', product_type='psu')}}" style="color:black;">Power Supply</a>
        </div>
    </div>
    <div class="product-submenu">
        <a>Computer Periphery</a>
        <div class="submenu-content">
            <a>Keyboard</a>
            <a>Mouse</a>
            <a>Speakers</a>
            <a>Microphones</a>
            <a>Headphones</a>
            <a>Webcams</a>
        </div>
    </div>
    <a>Monitors</a>
    <a>Laptops</a>
    <a>Mobile Phones</a>
    <a>Tablets</a>
    <a>Printers</a>
    <a>Networking Devices</a>
</div>
{% endmacro %}
