@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap');

html {
    scroll-behavior: smooth;
}

.baloo-text {
    font-family: 'Baloo Chettan';
}

.product-sidebar {
    position: absolute;
    background: whitesmoke;
    width: 300px;
    height: 220px;
}