@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap');

html {
    scroll-behavior: smooth;
}

.baloo-text {
    font-family: 'Baloo Chettan';
}

.product-sidebar {
    position: absolute;
    background: whitesmoke;
    width: 300px;
    height: 220px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    /* bottom = footer height */
    padding: 25px;
}

footer {
    background-color: orange;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}