{% extends 'main.htm' %}
{% block content %}
    <h2 style="text-align: center;">Delete User</h2>
    <div style="text-align: center; margin-top: 200px;" >
        {% if error %}
            <div class="alert alert-danger" style="text-align: center; margin-left: 40%; margin-right: 40%;">{{ error }}</div>
        {% endif %}
        {% from "_formhelpers.htm" import render_field %}
        <form action="{{ url_for('users.delete_user')}}" method="post" autocomplete="off">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{render_field(form.name) }}
            </div>
            {{form.submit(class="btn btn-primary")}}
        </form>

    </div>
{% endblock %}