{% extends "base.html" %}
{% block content %}
        <form>
            <div class="container mt-5">
              <div class="mb-3">
                <label for="username" class="form-label">username</label>
                  <label for="Username"></label><input type="email" class="form-control" id="Username" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="Password" class="form-label">Password</label>
                <input type="password" class="form-control" id="Password">
              </div>
                <div class="form-check">
              <input type="checkbox" class="form-check-input" id="dropdownCheck">
              <label class="form-check-label" for="dropdownCheck">
                Remember me
              </label>
                </div>
            </div>
            <a class="btn btn-primary w-100" href="{{url_for('store')}}" role="button">Sign in</a>

        </form>
        <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{url_for('registration')}}">New around here? Sign up</a>
{% endblock content %}