{% extends "base.html" %}
{% block content %}
    <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>keyboard</td>
              <td>15.00</td>
              <td>3</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Mouse</td>
              <td>25</td>
              <td>6</td>
            </tr>
          </tbody>
        </table>
    </div>
{% endblock content%}