{% extends 'base.html' %} {% block head %}
<title>TEAM-APP | ASK</title>
{% endblock%} {% block body %}
<div class='ask'>
<div class="wrapper">
  <form action="{{url_for('main.ask')}}" method="POST">
    <fieldset>
      <h1>What's your question?</h1>
      {{form.hidden_tag()}}
      {{nolabel(form.textarea, placeholder="Type your answer here...")}}
      {{nolabel(form.options, class="form-select")}}

      <button type="submit" class="ask-btn">Submit Your Question</button>
    </fieldset>
  </form>
</div>
</div>
</div>{% endblock%}