{% from "macros.html" import create_navlink %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('main.home') }}" style="color: #ce5a67"><b>მთავარი</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {{ create_navlink("auth.login", "შესვლა") }}
                {{ create_navlink("auth.register", "რეგისტრაცია") }}
                {{ create_navlink("petitions.create_petition", "პეტიციის შექმნა") }}
                {{ create_navlink("main.contact", "კონტაქტი") }}

            </div>

        </div>

        <form class="d-flex" role="search" method="post" action="{{url_for('main.home')}}">
            <input class="form-control me-2" type="search" placeholder="მოძებნე პეტიცია" aria-label="Search" name="search">
            <button class="btn" style="background-color: #ce5a67;color: #1f1717;" type="submit">ძებნა</button>
        </form>
    </div>
</nav>
<hr style="margin-bottom: 40px;">
