/*Choose a cool Font Text Scheme*/

h1{
  font-family: 'Permanent Marker';
  text-align: center;
}

/*Choose a color palette from here:
https://coolors.co/
or create your own here:
paletton.com/*/
*{
  margin:0;
  padding: 0;
}
body{
  height: 100vh;
}
.container{
  width: 100%;
  height: 90%;
  display: flex;
}
.rectangle{
  height: 100%;
  margin: 10px 10px 0 10px;
  width: 20%;
}
.first{
  background-color: #FF6978;
}
.second{
  background-color: #FFFCF9;
}
.third{
  background-color: #B1EDE8;
}
.fourth{
  background-color: #6D435A;
}
.fifth{
  background-color: #352D39;
}
