@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

body {
  font-family: "Lato", sans-serif;
  /* padding: 1em; */
  /* background-color: #e7e1d5; */
  background-color: #333;
  color: #222;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container-fluid {
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
  min-height: 100vh;
  padding: 2em;
}

.circle-container {
  position: fixed;
  top: -5em;
  left: -5em;
}

.circle {
  background-color: #8b0f32;
  height: 10em;
  width: 10em;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5 linear;
}

.container-fluid.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 3em;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container-fluid.container-fluid.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.1s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 5px;
}

nav a {
  color: #fff;
}

nav ul li {
  text-transform: uppercase;
  margin: 20px 5px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in;
}

nav ul li i {
  margin-right: 7px;
}

nav ul li + li {
  margin-left: 1em;
  /* transform: translate(-100%); */
}

nav ul li + li + li {
  margin-left: 2em;
  /* transform: translate(-100%); */
}

nav ul li + li + li + li {
  margin-left: 3em;
  /* transform: translate(-100%); */
}

nav ul li + li + li + li + li {
  margin-left: 4em;
  /* transform: translate(-100%); */
}

nav ul li + li + li + li + li + li {
  margin-left: 5em;
  /* transform: translate(-100%); */
}

.container-fluid.show-nav {
  transform: rotate(-20deg);
}

.bg-custom {
  background-color: #16463f;
}

.custom {
  /* background-color: #eac1c6; */
  background-color: #16463f;
  color: #fafafa;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.19);
}

a {
  text-decoration: none;
  color: #fafafa;
}

a:hover {
  color: #f5b0c2;
}

h1 {
  /* padding-left: 1em; */
  color: #8b0f32;
  margin: 0;
}

.btn {
  background-color: #8b0f32;
  border: 1px solid #16463f;
  max-width: 100px;
  margin-top: 5px;
}

.btn:hover {
  background-color: #0f1015;
}

.row {
  max-width: 1000px;
  margin: 50px auto;
  padding-left: 2%;
}

.row h1 {
  margin-bottom: 1em;
}

.content {
  margin: 50px auto;
  padding-left: 2%;
}

hr {
  color: #fafafa;
}

.cus {
  background-color: #555;
  color: #fafafa;
}

#senior {
  background-color: #174950;
}

#junior {
  background-color: #008080;
}

#intern {
  background-color: #e60234;
}

th.senior {
  background-color: hsl(187, 55%, 20%);
  color: #eee;
}
th.junior {
  background-color: #008080;
  color: #eee;
}

th.intern {
  background-color: #e60234;
  color: #eee;
}

.container {
  width: 90%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1.5em 3em;
  margin-top: 3em;
  border-radius: 5px;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 35%;
  }
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container a {
  text-decoration: none;
  color: #8b0f32;
}

.form-control {
  background-color: inherit;
  position: relative;
  margin: 20px 0 40px;
  max-width: 300px;
  border: 0;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px white solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
}

/* Change the color for chrome autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #969696 inset !important;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: #8b0f32;
}

.form-btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  font-family: inherit;
  font-size: 16px;
  padding: 15px;
  background-color: #8b0f32;
  border: 0;
  border-radius: 5px;
  color: #fafafa;
}

.form-btn:focus {
  outline: 0;
}

.form-btn:hover,
.form-btn:active {
  transform: scale(0.98);
}

.text {
  margin-top: 30px;
}

.form-control label {
  position: absolute;
  top: 0px;
  left: 0;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: #8b0f32;
  transform: translateY(-20px);
}

.ask {
  display: flex;
  justify-content: center;
  padding: 1em;
  margin: 1em;
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 25px 25px 30px;
  margin-top: 3em;
  border-radius: 5px;
  margin: 1em;
}

/* @media only screen and (min-width: 768px) {
  .wrapper {
    width: 50%;
  }
} */

@media only screen and (min-width: 992px) {
  .wrapper {
    width: 50%;
  }
}

.wrapper h1 {
  text-align: center;
  font-size: 28px;
}

.wrapper select {
  outline: none;
  border: none;
}

.wrapper textarea {
  margin-top: 2em;
  width: 100%;
  height: 63px;
  padding: 15px;
  outline: none;
  resize: none;
  font-size: 16px;
  border-color: #bfbfbf;
  border-radius: 5px;
  max-height: 50vh;
}

.wrapper textarea:focus,
.wrapper textarea:valid {
  border-color: #bfbfbf;
  border-width: 2px;
  padding: 14px;
}

.wrapper select {
  margin-top: 1em;
}

textarea::-webkit-scrollbar {
  width: 0px;
}

.ask-btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  font-family: inherit;
  font-size: 16px;
  padding: 15px;
  background-color: #8b0f32;
  border: 0;
  border-radius: 5px;
  color: #fafafa;
  margin-top: 1em;
}

.ask-btn:focus {
  outline: 0;
}

.ask-btn:hover,
.ask-btn:active {
  transform: scale(0.98);
}

.unanswered h1 {
  margin: 1em 0 0.5em;
  text-align: center;
  font-size: 28px;
}

.q-container {
  width: 100%;
  margin: 2em auto;
}

@media only screen and (min-width: 992px) {
  .q-container {
    max-width: 600px;
    margin: 2em auto;
  }
}

.q {
  background-color: transparent;
  border: 1px solid #9fa4a8;
  margin: 10px 0;
  padding: 15px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
  background-color: #e6e6e6;
  /* background-color: rgba(0, 0, 0, 0.4); */
  /* background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea); */
}

.q.active {
  background-color: #fdfeff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.1);
  border: 0;
}

.unanswered a {
  color: black;
}

.scr {
  height: 70vh;
  overflow: auto;
  /* border: 5px black solid; */
}

.q.active::before,
.q.active::after {
  content: "\F075";
  font-family: "Font Awesome 5 Free";
  color: #8b0f32;
  font-size: 7rem;
  position: absolute;
  opacity: 0.2;
  top: -20px;
  right: 60px;
  z-index: 0;
}

.q.active::before {
  color: #000033;
  top: -50px;
  right: 100px;
  transform: rotateY(180deg);
}

.q-title {
  margin: 0 35px 0 0;
  font-size: 18px;
}

.q-text {
  display: none;
  margin: 20px 0 0;
}

.q.active .q-text {
  display: block;
}

.q-toggle {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 15px;
  right: 30px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.q-toggle:focus {
  outline: 0;
}

.q-toggle .fa-times {
  display: none;
}

.q.active .q-toggle .fa-times {
  display: block;
  color: #fff;
}

.q.active .q-toggle .fa-chevron-down {
  display: none;
}

.q.active .q-toggle {
  background-color: #9fa4a8;
  /* background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea); */
}

h1.ans {
  text-align: left;
}

p.q-text.senior {
  background-color: #000033;
  /* background-image: linear-gradient(to right, #000033, #eee); */
  color: #eee;
  padding: 3px;
  padding-left: 10px;
}

@media only screen and (min-width: 768px) {
  p.q-text.senior {
    width: 40%;
  }
}

p.q-text.junior {
  background-color: #008080;
  /* background-image: linear-gradient(to right, #008080, #eee); */
  color: #eee;
  padding: 3px;
  padding-left: 10px;
}

@media only screen and (min-width: 768px) {
  p.q-text.junior {
    width: 40%;
  }
}

p.q-text.intern {
  background-color: #e60234;
  /* background-image: linear-gradient(to right, #e60234, #eee); */
  color: #eee;
  padding: 3px;
  padding-left: 10px;
}

@media only screen and (min-width: 768px) {
  p.q-text.intern {
    width: 40%;
  }
}

.q a:hover {
  color: #8b0f32;
}

.unanswered.not {
  margin: 3em;
}

.container.us {
  background-color: #fafafa;
  margin-top: 1em;
  width: 50%;
  max-height: 60%;
  overflow: auto;
}

h1.us {
  text-align: center;
  margin-top: 1em;
}

p.container.us {
  text-align: justify;
  padding: 2px;
  padding-left: 3em;
  margin-top: 3px;
  margin-bottom: 0;
  /* background-image: linear-gradient(to right, #8b0f32, #eee); */
  background-color: #fafafa;
}

.container.us.sav {
  padding: 2px;
  background-color: #fff;
  text-align: center;
}

.form-btn.us {
  max-width: 35em;
  justify-content: left;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 50%;
  margin: 0.5em auto;
  overflow: auto;
  /* border: 4px solid black; */
}

@media only screen and (min-width: 992px) {
  .user {
    width: 50%;
  }
}

h6.user {
  justify-content: center;
  margin-top: 1em;
}

@media only screen and (min-width: 992px) {
  h6.user {
    justify-content: left;
    margin-top: 1em;
  }
}

p.user {
  justify-content: left;
  margin-bottom: 0.5em;
}

h1.user {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.b {
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 992px) {
  .b {
    justify-content: left;
    align-items: left;
  }
}
.ub {
  background-color: #8b0f32;
  color: #fff;
  border: 1px solid #8b0f32;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px 30px;
  overflow: hidden;
  margin: 10px 0;
  position: relative;
}

button .c {
  position: absolute;
  background-color: rgba(238, 238, 238, 0.4);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
