<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}" style="color: #DBD8E3">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="row">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}" style="color: #DBD8E3">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('sign_in') }}" style="color: #DBD8E3">Sign in</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
