{% extends "base.html" %}

{% block title %}Sign in{% endblock %}

{% block body %}
<div class="outer">
    <div class="middle">
        <div class="inner-signin">
            <form class="signin-form" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                {{ form.email.label(class="col-sm-2 col-form-label") }}
                <div class="row mb-5">
                    <div class="col-sm-10">
                        {{ form.email(class="form-control signin-input") }}
                    </div>
                </div>
                {{ form.password.label(class="col-sm-2 col-form-label") }}
                   <div class="row mb-4">
                    <div class="col-sm-10">
                        {{ form.password(class="form-control signin-input") }}
                    </div>
                </div>
                <div class="row mb-4">
                    <div>
                        <div class="form-check">
                            {{ form.remember_me(class="form-check-input") }}
                            {{ form.remember_me.label(class="form-check-laber") }}
                        </div>
                    </div>
                </div>
                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}