<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOGIN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2 class="loginsuccess">ავტორიზაცია წარმატებულია!</h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a class="logoutbutton" href="{{ url_for('logout') }}">გამოსვლა</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a class="adminbutton" href="{{ url_for('admin.index') }}">ადმინ პანელი</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a class="mainpagebutton" href="{{ url_for('index2') }}">მთავარი გვერდი</a>
</body>
</html>