{% extends 'base_content.html' %}
{% block content %}
{% from 'macros.html' import current_users %}
    <body style="font-size: 30px">
        <form method="POST" class ="mainText">
            <fieldset class="mainBorder" style="height: 250px">
                <legend style="font-size: 40px">DELETE USER</legend>
                <br>
                {{ form.hidden_tag() }}
                {{ form.id.label }}
                <br>
                {{ form.id }}
                <br>
                <div style="font-size: 15px;">
                {{ form.submit(class="button")}}
                </div>
            </fieldset>
        </form>
{{ current_users(list_users) }}
    </body>
{% endblock %}