{% macro show_profile_picture(user, style) %}
      {% if user.picture %}
        <img src="{{ url_for('static', filename='uploads/profile_pictures/%s' % user.picture) }}" class="{{style}}" alt="my_profile_picture">
      {% else %}
        <img src="{{ url_for('static', filename='uploads/profile_pictures/default_profile_picture.png') }}" class="{{style}}" alt="my_profile_picture">
      {% endif %}
{% endmacro %}


{% macro show_post_media(post, style) %}
      {% if post.media %}
        <img src="{{ url_for('static', filename='uploads/post_uploads/%s' % post.media) }}" class="{{style}}" alt="posted_picture">
     {% endif %}
{% endmacro %}
