{% from "macros.html" import nav_bar_generator %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Clarckson shop page">
        <meta name="keywords" content="Clarckson, HTML, CSS, Jinja2">
        <meta name="author" content="Giga Amiridze">
        <script src="https://kit.fontawesome.com/b1609179cd.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/gif" href="{{ url_for("static", filename="images/clarckson-icon.png") }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/reset.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/header.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/index.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/footer.css") }}">
        <title>Clarckson</title>
    </head>
    <body>
        <header>
            <div class="container">
                <div class="flex-block">
                    <nav>
                        <ul>
                            {{ nav_bar_generator(pages) }}
                        </ul>
                    </nav>
                    <a href="{{ url_for("home") }}">
                        <img class="nav-logo" src="{{ url_for("static", filename="images/clarckson-logo.png") }}" alt="Clarckson's Logo">
                    </a>
                    <div class="icons">
                        <div class="social-icons">
                            <a href="https://www.facebook.com/" target="_blank">
                               <i class="fa-brands fa-facebook-square soc-icon"></i>
                            </a>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="fa-brands fa-instagram soc-icon"></i>
                            </a>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="fa-brands fa-twitter soc-icon"></i>
                            </a>
                        </div>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </div>
            </div>
        </header>
        {% block content %}

        {% endblock %}
        <footer>
            <div class="container">
                <div class="footer-content">
                    <p class="copyright-text">@2022 copyright</p>
                    <div class="soc-titles">
                        <a href="https://www.facebook.com/">facebook</a>
                        <a href="https://www.instagram.com/">instagram</a>
                        <a href="https://twitter.com/">twitter</a>
                    </div>
                    <p class="designer-name">Designed by <a class="obencci" href="https://www.obencci.com/">Obencci</a></p>
                </div>
            </div>
        </footer>
    </body>
</html>