{% macro sign_in(form_sign_in) %}
    <form class="auth-center" method="POST">
        <table class="auth-table">
            <tr>
                <td>{{ form_sign_in.hidden_tag() }}</td>
                <td>{{ form_sign_in.email.label }}</td>
                <td>{{ form_sign_in.email() }}</td>
            </tr>
            <tr>
                <td>{{ form_sign_in.hidden_tag() }}</td>
                <td>{{ form_sign_in.password.label }}</td>
                <td>{{ form_sign_in.password() }}</td>
            </tr>
        </table>
                <span class="submit-style"> {{ form_sign_in.submit }} </span>
    </form>
{% endmacro %}


{% macro register(form_register) %}
    <form class="auth-center" method="POST">
        <table class="auth-table">
            <tr>
                <td>{{ form_register.hidden_tag() }}</td>
                <td>{{ form_register.name_first.label }}</td>
                <td>{{ form_register.name_first() }}</td>
            </tr>
            <tr>
                <td>{{ form_register.hidden_tag() }}</td>
                <td>{{ form_register.name_last.label }}</td>
                <td>{{ form_register.name_last() }}</td>
            </tr>
            <tr>
                <td>{{ form_register.hidden_tag() }}</td>
                <td>{{ form_register.sex.label }}</td>
                <td>{{ form_register.sex() }}</td>
            </tr>
            <tr>
                <td>{{ form_register.hidden_tag() }}</td>
                <td>{{ form_register.mail.label }}</td>
                <td>{{ form_register.mail() }}</td>
            </tr>
            <tr>
                <td>{{ form_register.hidden_tag() }}</td>
                <td>{{ form_register.phone.label }}</td>
                <td>{{ form_register.phone() }}</td>
            </tr>
            <tr>
                <td>{{ form_register.hidden_tag() }}</td>
                <td>{{ form_register.passw.label }}</td>
                <td>{{ form_register.passw() }}</td>
            </tr>
            <tr>
                <td>{{ form_register.hidden_tag() }}</td>
                <td>{{ form_register.conf_pass.label }}</td>
                <td>{{ form_register.conf_pass() }}</td>
            </tr>
        </table>
                <span class="submit-style"> {{ form_register.submit }} </span>
        <br><br><br><br><br><br>

    </form>
{% endmacro %}
