{% extends "base.html" %}
{% from "./macros/link.html" import modify_link %}

{% block title %}
    <title>{{ petition["name"] }}</title>
{% endblock %}

{% block content %}
<div class="container mt-4 text-center">
    <h1>პეტიცია: {{ petition["title"] }}</h1>
    <hr>
</div>
<div class="container mt-4">
    <div class="row gy-4 text-center">
        <div class="col-xxl col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <img src="{{ modify_link(petition['method']).strip() }}{{ petition['img1'] }}" width="200px" height="130px">
        </div>
        <div class="col-xxl col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <img src="{{ modify_link(petition['method']).strip() }}{{ petition['img2'] }}" width="250px" height="180px">
        </div>
        <div class="col-xxl col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <img src="{{ modify_link(petition['method']).strip() }}{{ petition['img3'] }}" width="300px" height="275px">
        </div>
        <div class="col-xxl col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <img src="{{ modify_link(petition['method']).strip() }}{{ petition['img4'] }}" width="250px" height="180px">
        </div>
        <div class="col-xxl col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <img src="{{ modify_link(petition['method']).strip() }}{{ petition['img5'] }}" width="200px" height="130px">
        </div>
    </div>
    <div class="text_div">
        <h2>ᲐᲓᲠᲔᲡᲐᲢᲘ: <em>{{ petition["adress"] }}</em></h2>
        <p class="text-center text-break" id="text">{{ petition["description"] }}</p>
        <div class="button_align">
            <a href="{{ url_for('sign_petition') }}"> <button class="butn" type="button">ხელის მოწერა</button> </a>
        </div>
    </div>
</div>
{% endblock %}
