{% extends "layouts/base.html" %}

{% block content %}
<div class="container text-center text_div">
    <h2 style="margin:20px; text-align: center;">პეტიციის რედაქტირება</h2>
    <hr>
    <div class="d-flex justify-content-center">
        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <br>
            <br>
            <h4 class="form-label w-100">შეიყვანეთ ინფორმაცია</h4>
            <hr>
            <br>

            <div class="mb-3">
                <label class="form-label">დასახელება</label>
                {{ form.name }}
            </div>

            <div class="mb-3">
                <label class="form-label">სათაური</label>
                {{ form.title }}
            </div>

            <div class="mb-3">
                <label class="form-label">ადრესატი</label>
                {{ form.address }}
            </div>

            <div class="mb-3">
                <label class="form-label">ტექსტი</label>
                {{ form.description }}
            </div>

            <div class="mb-3">
                <label class="form-label">მოკლე მიმოხილვა</label>
                {{ form.short_description }}
            </div>
            
            <br>
            {{ form.submit }}
        </form>
    </div>
</div>
{% endblock %}