<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>გამოიწერეთ ახალი ამბები</h1>

    {% if email %}
        <p>თქვენ მოგივათ შეტყობინებები <strong>{{ email }}</strong> მისამართზე</p>
        <p>მონაცემის განახლება შეგიძლიათ ქვემოთ ფორმიდან</p>
    {% else %}
        <p>გთხოვთ შეავსოთ ფორმა</p>
    {% endif %}

    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.email.label }} {{ form.email() }}
            <br>
        {{ form.confirm_email.label }} {{ form.confirm_email() }}
            <br>
        {{ form.option.label }} {{ form.option() }}
        {{ form.submit() }}
    </form>
</div>

</body>
</html>