{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1>Update Method in View</h1>
    <p>Update new item using the form below</p>
    <form method="POST" >
        {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name(class_="form-control") }}
        <br>
        {{ form.param1.label }} {{ form.param1(class_="form-control") }}
        <br>
        <div class="form-check">
        {{ form.param2.label }} {{ form.param2(class_="form-check-input") }}
        </div>
        <br>
        {{ form.submit() }}
    </form>
</div>
{% endblock %}