
<!-- <div class="p-3 m-0 border-0 bd-example m-0 border-0" style="background-color:rgb(255, 255, 255) ;"> -->
{% block navbar %}
    <div class="container" style="height: 100%;" >
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
            <a class="navbar-brand" href="/">Main Board</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Products
                    </a>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Iphone</a></li>
                    <li><a class="dropdown-item" href="#">Samsung</a></li>
                    <li><a class="dropdown-item" href="#">Google pixel</a></li>
                    <li><a class="dropdown-item" href="#">Redmi</a></li>
                    </ul>
                </li>
                </ul>
            </div>

            <a type="button" class="btn btn-light btn-lg" href="/signin">Sign In</a>
            <a type="button" class="btn btn-light btn-lg" href="/login">Log In</a>
            </div>
        </nav>

    </div>
{% endblock %}

<!-- </div> -->