.Welcome{
    background-color: rgb(16, 28, 38);
    width: 95% ;
    margin: auto;
    display: flex;
    color: #ddd;
}
.logo{
    float: left;
}
header{
    background-color: rgba(3, 35, 124, 0.289);

}

a{
    color: #ddd;
    background-color: rgba(50, 105, 176, 0.199);
    float: right;
    border-radius: 6px;
}
.nav{
 float: right;
}

ul{
    text-decoration: none;
    margin: 20px 0;
}
li{
    list-style-type: none;
    float: left;
    padding: 0 15px;
}

th, td {
    background-color: azure;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;

  }

  th {
    background-color: #243451;
    color: white;
    text-align: center;
  }

  body{
    background-image: url("conference.jpg");
    backdrop-filter: blur(4px);
  }

  h2{
    color: #ddd;
    text-align: center;
    background-position: 50%;
    background-color: rgba(0, 0, 0, 0.224);
  }

.conference{
    margin-left: auto;
    margin-right: auto;
}

.check{
color:#ddd
}

h1{
  color: #ddd;
  text-align: center;

}

.container{
  color: #ddd;
  font-size: large;
}

.register_form {
  background-color: #02010ad9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(15, 6, 6, 0.957);
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;

}


button.reg {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;


}

button.reg:hover {
  background-color: #0056b3;
}