/*Choose a cool Font Text Scheme*/

h1{
  font-family: 'Permanent Marker';
  text-align: center;
}

/*Choose a color palette from here:
https://coolors.co/
or create your own here:
paletton.com/*/

#b1{
  background: #F8B195;
}
#b2{
  background: #F67280;
}

#b3{
  background: #C06C84;
}

#b4{
  background: #6C5B7B;
}

#b5{
  background: #355C7D;
}

body{
  alignment: right;
}

.main {
  border-collapse: separate;
  width: 1000px;
  height: 500px;
  border-spacing: 5px;
  align-items: center;

}