{% macro nav_link(endpoint, name) %}
{% if request.endpoint.endswith(endpoint) %}
    <a class="nav-item nav-link active" href="{{ url_for(endpoint) }}">{{name}}</a>
{% else %}
    <a class="nav-item nav-link" href="{{ url_for(endpoint) }}">{{name}}</a>
{% endif %}
{% endmacro %}

{% macro nav_bar_generator(pages) %}
    <div class="navbar-nav">
        {% for page in pages %}
            {{ nav_link(page[0], page[1]) }}
        {% endfor %}
    </div>
{% endmacro %}

{% macro table_headers_generator(headers) %}
    <thead>
      <tr>
        {% for header in headers %}
          <th scope="col">{{header}}</th>
        {% endfor %}
      </tr>
    </thead>
{% endmacro %}

{% macro table_rows_generator(rows) %}
    <tbody>
      {% for row in rows %}
      <tr>
        {% for item in row%}
          <td>{{item}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
{% endmacro %}

{% macro table_generator(table) %}
    <table class="table table-bordered table-dark">
        {{ table_headers_generator(table['headers']) }}

        {{ table_rows_generator(table['rows']) }}
      </table>
{% endmacro %}