<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Database_ine_views</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="p-1 mb-2 text-dark " id="firts_body">
<nav class="navbar navbar-expand-lg bg-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="#">Navbar</a>
    <button class="navbar-toggler  bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-light"  href="{{ url_for("coaches.home") }}">Home</a>
        </li><li class="nav-item">
          <a class="nav-link active text-light"  href="{{ url_for('coaches.create') }}">Create</a>
        </li><li class="nav-item">
          <a class="nav-link active text-light"  href="{{ url_for('coaches.read') }}">Read</a>
        </li><li class="nav-item">
          <a class="nav-link active text-light" href="{{ url_for('coaches.update') }}">Update</a>
        </li><li class="nav-item">
          <a class="nav-link active text-light"  href="{{ url_for('coaches.delete') }}">Delete</a>
        </li>
      </ul>
    </div>
    </div>
</nav>
{%  block content %}

{% endblock %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>