{% extends "layouts/base.html" %}
{% block content %}
    <div class="container mt-5 rounded bg-white p-4 shadow">
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="form-group mt-2">
                <label for="inputEmail">{{ form.email.label }}</label>
                {{ form.email(class="form-control", id="inputEmail", placeholder="Enter email") }}
            </div>
            {{ form.submit(class="btn btn-primary mt-2") }}
        </form>
    </div>
{% endblock %}