{% extends "layouts/base.html" %}

{% block title %}
    Flask Webproject - Register
{% endblock %}

{% block body %}

    {% set messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                * {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {# This is a comment #}
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="bg-white p-3 rounded-2 mb-3 shadow">
            <div class="mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
            </div>
        </div>
        <div class="bg-white p-3 rounded-2 mb-3 shadow">
            {{ form.submit(class="btn btn-success" ) }}
        </div>
    </form>
{% endblock %}
