{% extends "admin/base.html" %}

{% block page_body %}
    
        <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary" style="height: 7vh;" role="navigation">
            <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#admin-navbar-collapse"
                    aria-controls="admin-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- navbar content -->
            <div class="collapse navbar-collapse" id="admin-navbar-collapse">
            {% block brand %}
                <a class="navbar-brand" href="{{ admin_view.admin.url }}">{{ admin_view.admin.name }}</a>
            {% endblock %}
            {% block main_menu %}
                <ul class="nav navbar-nav mr-auto">
                    {{ layout.menu() }}
                </ul>
            {% endblock %}

                {% block menu_links %}
                <ul class="nav navbar-nav navbar-right">
                    {{ layout.menu_links() }}
                </ul>
                {% endblock %}
            {% block access_control %}
            {% endblock %}
            </div>
        </div>
        </nav>
        <section style="background-color: #eee; height: 93vh; overflow-y: auto;">
            {% block messages %}
                {{ layout.messages() }}
            {% endblock %}

            {# store the jinja2 context for form_rules rendering logic #}
            {% set render_ctx = h.resolve_ctx() %}
            <div class="container h-100">
                {% block body %}{% endblock %}
            </div>
            
        </section>

{% endblock %}
