<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">

        <h1>
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-mortarboard"
                 viewBox="0 0 16 16">
                <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917zM8 8.46 1.758 5.965 8 3.052l6.242 2.913z"/>
                <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466zm-.068 1.873.22-.748 3.496 1.311a.5.5 0 0 0 .352 0l3.496-1.311.22.748L8 12.46z"/>
            </svg>
            <span class="navbar-brand mb-0 h1">Schooling</span></h1>
    </div>
</nav>
</nav>
<nav class="navbar navbar-expand-lg bg-body-tertiary navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">მთვარი</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a  class="nav-link active" href="/about">ჩვენს შესახებ</a>
                </li>
                <li class="nav-item">
                    <a href="contact.html" class="nav-link">საკონტაქტო ინფორმაცია</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        კურსები
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">პროგრამირების საფუძვლები</a></li>
                        <li><a class="dropdown-item" href="#">python</a></li>
                        <li><a class="dropdown-item" href="#">Html/css/js</a></li>
                        <li><a class="dropdown-item" href="#">c++</a></li>
                    </ul>
            </ul>

            <a href="register.html" class="btn btn-outline-success" type="submit"></button>რეგისტრაცია</button></a>


        </div>
    </div>
</nav>