h1{
    position: relative;
    color: #25457a;
    margin-top: 100px;
    text-align: center;
}
body{
    position: relative;
    background: rgb(238, 174, 202) radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
img{
    position: relative;
    width: 60px;
    height: 60px;
    left: 640px;
    top: -130px;
}
form{
    position: relative;
    width: 30%;
    height: 450px;
    flex-direction: column;
    background: rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,1);
    margin-top: 13%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.user_info{
    width: 30%;
    color: aliceblue;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
}
.name input{
    position: relative;
    left: -10px;
    width: 170px;
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #ccc;
    transition:  1s;
}
.surname input{
    position: relative;
    top: -44px;
    left: 170px;
    width: 170px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #ccc;
}

.password input{
    position: relative;
    top: -55px;
    right: 10px;
    width: 350px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #ccc;
}
.Re-Password input{
    position: relative;
    top: -30px;
    right: 10px;
    width: 350px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #ccc;
}
.date_of_birth label{
    position: relative;
    top: 40px;
    left: 20px;
    width: 350px;
    height: 30px;
    color: whitesmoke;

}
.date_of_birth input{
    position: relative;
    top: 40px;
    right: 10px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #ccc;
}
.email input {
    position: relative;
    top: 100px;
    right: 10px;
    width: 350px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #ccc;
}
.gender select{
    position: relative;
    top: 6px;
    left: 230px;
    width: 120px;
    height: 33px;
    border-radius: 3px;
    text-align: center;
    border: 1px solid #ccc;
}
.agreement label{
    position: relative;
    top: 20px;
    left: 100px;
    color: black;
}
.submit input {
    position: relative;
    top: 35px;
    left: 110px;
    width: 90px;
    height: 34px;
    background-color: darkslateblue;
    outline-color: white;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
    border: 1px solid darkslateblue;
}