<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href= "{{ url_for('static',filename='css/nav_bar.css') }}" rel="stylesheet " type="text/css">
    <link href= "{{ url_for('static',filename='css/home.css') }}" rel="stylesheet " type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>

<body>
    {% include "base.html" %}




    <div class="content">

        {% block content%}

        {% endblock%}

    </div>



</body>

<!-- <script src="/static/js/android&ios.js"></script>  -->

</html>