<div class="parallaxsign-up">
    <br>
{% extends "base.html" %}
{% block content %}
    <div class="product-text">
      <h1>Welcome to Subscription Plans</h1>
      <p>choose wisely</p>
    </div>
    <div class="columns ">
      <ul class="first">
        <li class="header" style="color: #ffffff">Basic</li>
        <li class="Basic">$ 6.99/ Year </li>
        <li>10 GB Cloud storage</li>
        <li>>2mbps upload speed</li>
        <li>5 Domains</li>
        <li>10 Corporate Email</li>
        <li class="Basic"><a href="#" class="button">Sign up</a></li>
      </ul>
      <ul class="second">
        <li class="header" style="color: #000000">Average </li>
        <li class="Average" >$ 14.99 / Year</li>
        <li>20 GB Cloud storage</li>
        <li>>5mbps upload speed</li>
        <li>10 Domains</li>
        <li>20 Corporate Email</li>
        <li class="Average"><a href="#" class="button">Sign up</a></li>
      </ul>
      <ul class="third">
        <li class="header" style="color: #ffffff">Premium </li>
        <li class="Average">$ 30.00 / Year</li>
        <li>100 GB Cloud storage</li>
        <li>Unlimited upload speed</li>
        <li>30 Domains</li>
        <li>50 Corporate Email</li>
        <li class="Premium"><a href="#" class="button">Sign up</a></li>
      </ul>
    </div>
    {% endblock %}
</div>