{% extends "base.html" %}
{% block content %}


<div class="row">
    <br/>
    <div class="col-lg-4"><img src="../static/monte31.jpg" alt="Photo of monte" width="400" /> </div>
    <div class="col-lg-4">
        <h2>About Hotel</h2>
        <p>Located in upper Gudauri</p>
        <p>34 operational rooms</p>
        <p>Bar & Restaurant</p>
    </div>
    <div class="col-lg-4">
        <h2>
            About Gudauri
        </h2>
        <p>130 KM from Tbilisi</p>
        <p>40 KM of skiing roads</p>
        <p>Great for Bars and nightlife</p>
    </div>
</div>
<div class="accordion" id="accordionExample"></div>

{% endblock %}