html {
  border: solid 20px rgba(238, 173, 173, 0.2)
}

html, body {
  height: 94.06%;
  width: 97.05%;
  margin: 0;
}

h1{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 60px
}


table {
  height: 80%;
  width: 98%;
  margin-left: 2.5%;
  margin-right: 2%;
  display: flex;
  position: center;
  justify-content: space-around;
  align-items: center;
}

div {
  height: 460px;
  width: 210px;
}


#color1 {
  background-color: #abe8ae;
}
#color2 {
  background-color: #bdff99;
}
#color3 {
  background-color: #e7ff7e;
}
#color4 {
  background-color: #4f9e3e;
}
#color5 {
  background-color: #8bffc9;
}
#color6 {
  background-color: #a1e568;
}


/*pink palette*/
/*#color1 {*/
/*  background-color: #EDAFB8;*/
/*}*/
/*#color2 {*/
/*  background-color: #AF1B3F;*/
/*}*/
/*#color3 {*/
/*  background-color: #F7E1D7;*/
/*}*/
/*#color4 {*/
/*  background-color: #fa897a;*/
/*}*/
/*#color5 {*/
/*  background-color: #c65858;*/
/*}*/
/*#color6 {*/
/*  background-color: #f12b42;*/
/*}*/
