{% from 'macros.html' import nav_link %}

<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand {{ nav_link('home')}}" href="{{ url_for('home')}}">SHOP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {{ nav_link('home')}}" aria-current="page" href="{{ url_for('home')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ nav_link('about')}}" href="{{ url_for('about')}}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ nav_link('add_product')}}" href="{{ url_for('add_product')}}">Add product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ nav_link('register')}}" href="{{ url_for('register')}}">Register</a>
          </li>
        </ul>
      </div>
    </div>
</nav>