{%  extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                <strong>{{message}}</strong>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="jumbotron">

<fieldset>
    <legend><strong>Registration form for tutors</strong></legend>

    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name() }}
            <br>
            <br>
        {{ form.email.label }} {{ form.email() }}
            <br>
            <br>
        {{ form.password.label }} {{ form.password() }}
            <br>
        {{ form.confirm_password.label }} {{ form.confirm_password() }}
            <br>
            <br>
        {{ form.subject.label }} {{ form.subject() }}
            <br>
            <br>
        {{ form.submit() }}
    </form>

</fieldset>>

</div>
{% endblock %}