<div class="container contact-container">
    <H1>Contact Us</H1>
    <div class="row contact-box">
        {% if step %}
            <p class="lead text-center">Please write us a letter and we will contact you as soon as possible :)</p>
            <form method="POST" class="contact-form">
            {{ form.hidden_tag() }}
                <div class="input-box">
                    {{ form.name.label(class_='label') }} {{ form.name(class_='input') }}
                </div>
                <div class="input-box">
                    {{ form.email.label(class_='label') }} {{ form.email(class_='input') }}
                </div>
                <div class="input-box">
                    {{ form.text.label(class_='label') }} {{ form.text(class_='input') }}
                </div>
            {{ form.submit(class_='btn btn-primary contact-btn') }}
            </form>
        {% else %}
            <p class="lead text-center">Hello {{form.name.data}} <br> We will answer you on <b>{{form.email.data}}</b> this email soon :)</p>
            <a href="./home" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a>
        {% endif %}
    </div>
</div>
