<div class="gallery-container container">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <img class="img-thumbnail"
             src="../static/imgs/info1.jpg"
             alt="Another alt text">
    </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <img class="img-thumbnail"
             src="../static/imgs/info2.jpg"
             alt="Another alt text">
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <img class="img-thumbnail"
             src="../static/imgs/info3.jpg"
             alt="Another alt text">
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <img class="img-thumbnail"
             src="../static/imgs/info4.jpg"
             alt="Another alt text">
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <img class="img-thumbnail"
             src="../static/imgs/info5.jpg"
             alt="Another alt text">
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <img class="img-thumbnail"
             src="../static/imgs/info6.jpeg"
             alt="Another alt text">
    </div>
  </div>
</div>
