<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
          <div class="img-container">
              <img class="card-img-top" src="../static/imgs/info1.jpg" alt="Card image cap">
          </div>

          <div class="card-body">
            <h5 class="card-title">Information1</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">See more</a>
          </div>
      </div>
      <div class="card">
          <div class="img-container">
             <img class="card-img-top" src="../static/imgs/info4.jpg" alt="Card image cap">
          </div>

          <div class="card-body">
            <h5 class="card-title">Information4</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">See more</a>
          </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
          <div class="img-container">
              <img class="card-img-top" src="../static/imgs/info2.jpg" alt="Card image cap">
          </div>

          <div class="card-body">
            <h5 class="card-title">Information2</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">See more</a>
          </div>
      </div>
      <div class="card">
          <div class="img-container">
              <img class="card-img-top" src="../static/imgs/info5.jpg" alt="Card image cap">
          </div>

          <div class="card-body">
            <h5 class="card-title">Information5</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">See more</a>
          </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
          <div class="img-container">
              <img class="card-img-top" src="../static/imgs/info3.jpg" alt="Card image cap">
          </div>

          <div class="card-body">
            <h5 class="card-title">Information3</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">See more</a>
          </div>
      </div>
      <div class="card">
          <div class="img-container">
              <img class="card-img-top" src="../static/imgs/info6.jpeg" alt="Card image cap">
          </div>

          <div class="card-body">
            <h5 class="card-title">Information6</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">See more</a>
          </div>
      </div>
    </div>
  </div>
</div>