{% extends "base.html" %}
{% block content %}
<div id="Sales" class="container">
    </br><h2 class="baloo-text text-center">Update Object from the Table</h2>
</div>
<form method="POST">
        {{form.hidden_tag()}}
        {{form.table_name.label}}
        {{form.table_name}}
        <br>
        {{form.hidden_tag()}}
        {{form.name.label}}
        {{form.name}}
        <br>
        {{form.hidden_tag()}}
        {{form.new_name.label}}
        {{form.new_name}}
        <br>
        {{form.hidden_tag()}}
        {{form.new_id.label}}
        {{form.new_id}}
        <br>
        {{form.submit}}
</form>

{% endblock %}