{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 text-left text-dark bg-secondary"><h3>TutOr OnLine is an online platform which helps a tutor and a student to find each other!</h3></div>
        </div>
<br>
        <div class="row align-items-center">
            <div class="col-lg-12 text-left text-dark bg-secondary"><h3>We have no age limits!</h3></div>
        </div>
<br>
        <div class="row align-items-center">
            <div class="col-lg-12 text-left text-dark bg-secondary"><h3>We are offering you an opportunity to find a tutor in next subjects:</h3></div>
        </div>
        <div class="col align-items-center">
            <div class="col-lg-4 text-left text-muted"><h4>Maths</h4></div>
            <div class="col-lg-4 text-left text-muted"><h4>English</h4></div>
            <div class="col-lg-4 text-left text-muted"><h4>Russian</h4></div>
        </div>
<br>
        <div class="row align-items-center">
            <div class="col-lg-12 text-left text-dark bg-secondary"><h3>Class levels:</h3></div>
        </div>
        <div class="col align-items-center">
            <div class="col-lg-4 text-left text-muted"><h4>Beginner</h4></div>
            <div class="col-lg-4 text-left text-muted"><h4>Intermediate</h4></div>
            <div class="col-lg-4 text-left text-muted"><h4>Advanced</h4></div>
        </div>
    </div>
{% endblock %}
