{% extends "layout/base.html" %}
{% block content %}

    <div style="position: absolute; top: 25%; left: 35%; width: 25%;">
        <form method="POST" class="text-white">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label }}
                {{ form.username(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class="form-control") }}
            </div>
            <div class="form-group">
                {% if form.password.errors %}
                    * {{ form.password.errors[0] }} </br>
                {% endif %}
                {{ form.password.label }}
                {{ form.password(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label }}
                {{ form.confirm_password(class="form-control") }}
            </div>

            {{ form.submit(class="btn btn-primary mt-5") }}

        </form>
    </div>

{% endblock %}