{%extends "base.html"%}

{%block content%}

    <form method="post">
        <div class="mb-3">
          <label for="mail" class="form-label">Email address</label>
          <input type="email" class="form-control" name = 'mail' id="mail" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" name = 'password' class="form-control" id="password">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
{%endblock%}