{% from "macros.html" import createNavLink %}

<nav class="navbar navbar-expand-lg bg-dark freeze" data-bs-theme="dark" style="z-index: 1;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">L-iterator</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{ createNavLink("main", "Home") }}
                {{ createNavLink("register", "Register") }}
                {{ createNavLink("login", "Login") }}
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
