{% extends 'base.html' %} {% block head %}
<title>TEAM-APP | UNANSWERED</title>
{% endblock%}

{% block body %}
<div class="row">
    <h1>Questions For You</h1>
    <div class="list-group">
      <a href="#" class="list-group-item cus">
        <h4 class="list-group-item-heading">Question One</h4>
        <p class="list-group-item-text">🧐 Asked by: Mariam</p>
      </a>
      <a href="#" class="list-group-item cus">
        <h4 class="list-group-item-heading">Question Two</h4>
        <p class="list-group-item-text">🧐 Asked by: Mariam</p>
      </a>
      <a href="#" class="list-group-item cus">
        <h4 class="list-group-item-heading">Question Three</h4>
        <p class="list-group-item-text">🧐 Asked by: Mariam</p>
      </a>
    </div>
  </div>
</div>
{% endblock%}
