{% extends "base.html" %}
{% block content %}


<h1> Nutrition 101 </h1>
<form method="post" enctype="multipart/form-data">

<p class="text-primary">  <br>In this chapter we are going to go over <br>
 some basic requirements for proper nutrition.<br>
  lets go over the 3 macronutrients we need for a sustainable diet:


<ol>
  <li> Carbohydrates </li>
  <li> Proteins </li>
  <li> Fats </li>
</ol>

<ul>
  <li>Carbs(Carbohydrates) are the bulk of your calorie intake</li>
  <li>Protein builds your muscle,it is the most valuable and scarce nutrient</li>
  <li>Fat is also essential,dietary fat is healthy, but saturated fat is addictive and unhealthy </li>
</ul>


<form>
    {{ form.hidden_tag() }}
    <div class="shadow-lg bg-primary-subtle rounded-bottom-4 p-2" </div>
    <div class="input-group my-3">
        {{ form.username.label(class="form-label") }}
        {{ form.username }}
  <span class="input-group-text" id="basic-addon1"></span>

    </div>
    <fieldset>
    <legend>Your Goal</legend>
    {{ form.goal }}

    <br>
    <p>Type of exercise you do</p>
    <select>
        <option></option>
        <option value="Weightlifting"> Weightlifting</option>
        <option value="Jogging"> Jogging</option>
        <option value="Cycling"> Cycling</option>
    </select>
    <br>
    <p>Your Weight</p>
    0 kg <input type="range"> 300 kg <br>
        {{ form.submit(class="btn btn-success" ) }}

    </fieldset>
</form>
<br/>


{% endblock %}