/*Choose a cool Font Text Scheme*/

h1{
  font-family: 'Permanent Marker';
  text-align: center;
}

table {
  width: 100%;
}

table caption {
  font-family: 'Brush Script MT';
  font-size: 400%;
  text-align: center;
}

tr{
  height: 600px;
}

td{
  border:white 5px solid;
}

#first{
  background: #264653;
}

#second{
  background: #2a9d8f;
}

#third{
  background: #e9c46a;
}

#fourth{
  background: #f4a261;
}

#fifth{
  background: #e76f51;
}