{% macro generate_navbar(pages) %}
    <nav class="c-12" id="navbar">
        {% for page in pages %}
            {% if request.endpoint.endswith(page[0]) %}
                <a class="c-3 nav-button active" href="{{ url_for(page[0]) }}">{{ page[1] }}</a>
            {% else %}
                <a class="c-3 nav-button nav-passive" href="{{ url_for(page[0]) }}">{{ page[1] }}</a>
            {% endif %}
        {% endfor %}
    </nav>
{% endmacro %}

{% macro generate_title(pages) %}
    {% for page in pages %}
        {% if request.endpoint.endswith(page[0]) %}
            {{ page[1] }} –
        {% endif %}
    {% endfor %}
{% endmacro %}


{% macro show_profile_information(user) %}

    {% from macros_images import show_profile_picture %}

    <h1 class="display-4">{{ user.name_first }} {{ user.name_last}} {{ show_profile_picture(user, 'myprofile-profilepicture') }}</h1>
    <p class="lead">მომხმარებლის სახელი: {{ user.username }} </p>
    <p class="lead">ელფოსტა: {{ user.email }} </p>
    <p class="lead">მობილურის ნომერი: {{ user.phone }} </p>
    <p class="lead">დაბადების თარიღი: {{ user.dob }}</p>
    <p class="lead">ასაკი: {{ user.age }} </p>
    <p class="lead">სქესი: {{ user.sex }}</p>

{% endmacro %}


{% macro flash_alert() %}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

        <ul class="alert alert-dismissible fade show" role="alert" style="position:absolute; top:10px; float:top; width: 100%; height: 45px; text-align: center">

        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </ul>

    {% endif %}
    {% endwith %}

{% endmacro %}
