{% extends "layouts/base.html" %}
{% block content %}
    <div id="banner">
        <video autoplay muted loop src="{{ url_for('static', filename = 'images/some_video.mp4')}}" width="100%" type="video/mp4"></video>
    </div>
    <div class="info">
        <header>
            <h1>Special effects company providing a full range of high quality special effects for TV, film, and the events industry.</h1>
        </header>
        <p>SFX Georgia offers competitive and cost-effective special effects for all types of productions. Operating under strict codes of practice and safety, we are totally committed to delivering a personal, professional service from our uniquely qualified technicians. Our experience ensures that your effects are delivered safely, on budget, and as realistic as possible. Using state-of-the-art techniques and equipment, we specialize in atmospheric, fire, explosives, mechanical rigs, snow/winter effects, model making, soft props, and prosthetics.</p>
    </div>
    <div id="services">
        <div class="container text-center">
            <div class="row n1">
              <div class="col">
                <a href="/atmospherics"><img src="{{ url_for('static', filename = 'images/atmos.jpg')}}" alt="atmospherics" >
                <div class="head"><h2>ATMOSPHERICS</h2></div></a>
              </div>
              <div class="col">
                <a href="{{ url_for('main.gimbal', page_category = 'gimbal', product_category = 'video, image')}}"><img src="{{ url_for('static', filename = 'images/gimbal.jpg')}}" alt="gimbal">
                <div class="head"><h2>GIMBAL</h2></div></a>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <a href="/pyrotechnics"><img src="{{ url_for('static', filename = 'images/pyrotec.png')}}" alt="pyrotechnics">
                <div class="head"><h2>PYROTECHNICS</h2></div></a>
              </div>
              <div class="col">
                <a href="/model_making">
                <img src="{{ url_for('static', filename = 'images/model.jpg')}}" alt="model making">
                <div class="head"><h2>MODEL MAKING</h2></div></a>
              </div>
              <div class="col">
                <a href="/prosthetics">
                <img src="{{ url_for('static', filename = 'images/prosthetics.PNG')}}" alt="prosthetics">
                <div class="head"><h2>PROSTHETICS</h2></div></a>
              </div>
            </div>
          </div>
    </div>
{% endblock %}