{% extends "base.html" %}
{% block content %}
<div class="rammstein"> 
  <h1>Rammstein</h1>
</div>
<div class="linksleft">
  <ul>
      <a href="https://youtu.be/UcRftw2r4zM" target="_blank"><li>Rammstein - Morgenstern</li></a>
      <a href="https://youtu.be/LIPc1cfS-oQ" target="_blank"><li>Rammstein - Ohne Dich</li></a>
      <a href="https://youtu.be/Rr8ljRgcJNM" target="_blank"><li>Rammstein - Amerika</li></a>
      <a href="https://youtu.be/W3q8Od5qJio" target="_blank"><li>Rammstein - Du Hast</li></a>
      <a href="https://youtu.be/EOnSh3QlpbQ" target="_blank"><li>Rammstein - Ich Will</li></a>
      <a href="https://youtu.be/af59U2BRRAU" target="_blank"><li>Rammstein - Rosenrot</li></a>
      <a href="https://youtu.be/GukNjYQZW8s" target="_blank"><li>Rammstein - Haifisch</li></a>

  </ul>
</div><div class="linksright">
  <ul>
      <a href="https://youtu.be/WXv31OmnKqQ" target="_blank"><li>Rammstein - Mein Herz Brennt</li></a>
      <a href="https://youtu.be/IxuEtL7gxoM" target="_blank"><li>Rammstein - Ich Tu Dir Weh</li></a>
      <a href="https://youtu.be/z0wK6s-6cbo" target="_blank"><li>Rammstein - Benzin</li></a>
      <a href="https://youtu.be/Ph-CA_tu5KA" target="_blank"><li>Rammstein - Links 2 3 4</li></a>
      <a href="https://youtu.be/StZcUAPRRac" target="_blank"><li>Rammstein - Sonne</li></a>
      <a href="https://youtu.be/x2rQzv8OWEY" target="_blank"><li>Rammstein - Engel</li></a>
      <a href="https://youtu.be/_EVKy35L7MM" target="_blank"><li>Rammstein - Mann Gegen Mann</li></a>

  </ul>
</div>


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="height: 40%; width: 40%; margin: auto; margin-top: 3%;">
  <div class="carousel-inner">
    <div class="carousel-item active"> 
      <img src="https://digwallpapers.com/wallpapers/full/a/e/b/99825-3840x2160-rammstein-wallpaper-image-desktop-4k.jpg" class="d-block w-100" alt="Image of Rammstein members"> 
    </div>
    <div class="carousel-item">
      <img src="https://rare-gallery.com/uploads/posts/1045869-text-logo-symmetry-Germany-eagle-Rammstein-darkness-screenshot-computer-wallpaper-font-album-cover.jpg" class="d-block w-100" alt="image of Ramstein logo held by eagle"> 
    </div>
    <div class="carousel-item">
      <img src="https://wallpapermemory.com/uploads/278/rammstein-background-full-hd-26391.jpg" class="d-block w-100" alt="image of Ramstein Concert flames"> 
    </div>
    <div class="carousel-item">
      <img src="https://p4.wallpaperbetter.com/wallpaper/867/837/200/rammstein-till-lindemann-eagle-metal-music-wallpaper-preview.jpg" class="d-block w-100" alt="image of Ramstein logo and writing"> 
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="ramminfo">
  <p>
      Rammstein is a German Neue Deutsche Härte band formed in Berlin in 1994. The band's lineup consisting of 
      lead vocalist <a href="https://en.wikipedia.org/wiki/Till_Lindemann" target="_blank">Till Lindemann</a>, 
      lead guitarist <a href="https://en.wikipedia.org/wiki/Richard_Kruspe" target="_blank">Richard Kruspe</a>, 
      rhythm guitarist <a href="https://en.wikipedia.org/wiki/Paul_Landers" target="_blank">Paul Landers</a>
      , bassist <a href="https://en.wikipedia.org/wiki/Oliver_Riedel" target="_blank">Oliver Riedel</a>, 
      drummer <a href="https://en.wikipedia.org/wiki/Christoph_Schneider" target="_blank">Christoph Schneider</a>, 
      and keyboardist <a href="https://en.wikipedia.org/wiki/Christian_Lorenz" target="_blank">Christian "Flake" Lorenz</a>  
      has remained unchanged throughout their history, along with their approach to songwriting, which consists of 
      Lindemann writing and singing the lyrics over instrumental pieces the rest of the band has completed beforehand. Prior to their formation,
      some members were associated with the punk rock acts Feeling B and First Arsch.
  </p>

</div>
  <div class="card" style="width: 18rem; margin: auto; padding-bottom: 0.5% ;">
      <img src="https://www.udiscovermusic.com/wp-content/uploads/2019/10/Rammstein-2019-Press-Shot-01-web-1000-CREDIT-Jens-Koch.jpg" class="card-img-top" alt="Picture of Band members ">
      <div class="card-body">
          <a href="https://www.facebook.com/Rammstein/" target="_blank" class="btn btn-primary">Facebook Page</a>
      </div>
  </div> <!-- finish facebook -->
  <div class="card" style="width: 19rem; position: absolute; margin-top: -18%; margin-left: 72%;">
      <img src="https://www.revolvermag.com/sites/default/files/media/images/article/rammstein2019.jpg" class="card-img-top" alt="Picture of Band members ">
      <div class="card-body">
          <a href="https://www.instagram.com/rammsteinofficial/" target="_blank" class="btn btn-primary">Instagram Page</a>
      </div>
  </div>
  <div class="card" style="width: 19rem; position:absolute; margin-top: -18%; margin-left: 5%;">
      <img src="https://static.dw.com/image/18752771_605.jpg" class="card-img-top" alt="Picture of Band members ">
      <div class="card-body">
          <a href="https://twitter.com/rsprachrohr" target="_blank" class="btn btn-primary">Twitter Page</a>
      </div>
  </div>


</div>
<div class="newsongs">
<h2>
  Some of the newest songs of Rammstein:
</h2>
  <ul>
      <a href="https://youtu.be/skl6N3zGv-s" target="_blank"><li>Rammstein - Adieu</li></a>
      <a href="https://youtu.be/ONj9cvHCado" target="_blank"><li>Rammstein - Angst</li></a>
      <a href="https://youtu.be/EbHGS_bVkXY" target="_blank"><li>Rammstein - Zeit</li></a>
      <a href="https://youtu.be/hBTNyJ33LWI" target="_blank"><li>Rammstein - Zick Zack</li></a>
      <a href="https://youtu.be/QiQKOevyfBc" target="_blank"><li>Rammstein - Zeit (Full Album)</li></a>

  </ul>
</div>

<div class="rammshop">
  <a href="https://shop.rammstein.de/en" target="_blank">Tap to visit Rammstein Shop</a>
</div>

</div>

{% endblock %}
