{% extends "layouts/base.html" %}

{% block title %}
    Quick Quiz - Game
{% endblock %}

{% block body %}

<div class="justify-center flex-column">
    <div class="d-flex justify-content-between">
        <div>
            <p class="align-center fs-5">
                Question
            </p>
            <div id="progressBar" class="mt-4">
                <div id="progressBarFull"></div>
            </div>
        </div>
        <div>
            <p class="align-center fs-5">
                Score
            </p>
            <h1 class="align-center">
                0
            </h1>
        </div>    
    </div>
</div>
{% endblock %}
