{% extends "layouts/base.html" %}

{% block title %}
    Quick Quiz - HighScores
{% endblock %}

{% block body %}
<div>
  <div class="d-flex justify-content-center align-items-center">
    <h1>High Scores</h1>
  </div>
  <div class="text-center mb-3">TOP 5 მომხმარებლები რომელთაც ყველაზე მაღალი ქულა აქვთ:</div>
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Quiz</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      {% for score in top_scores %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ score.user.username }}</td>
          <td>{{ score.user.email }}</td>
          <td>{{ score.quiz.quiz_name }}</td>
          <td>{{ score.score }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="d-flex justify-content-center align-items-center">
    <a class="btn btn-primary" href="{{ url_for('main.index') }}">Go To Home Page</a>
  </div>
</div>
{% endblock %}
