{% extends "base.html" %}

{% block title %}
    Flask SQLAlchemy
{% endblock %}

{% block content %}

    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">description</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td> {{ product.name }}</td>
                <td> {{ product.description }}</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
