{%  from  "macros.html" import create_navlink %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: -24px" >
        <div class="container-fluid">
            <a class="navbar-brand" href="/">MyWebsite</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">

                   {{ create_navlink("index", "Home") }}
                   {{ create_navlink("about", "About") }}
                   {{ create_navlink("register", "Register") }}

<!--                    {%  if request.endpoint == "index" %}-->
<!--                    <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>-->
<!--                    {% else %}-->
<!--                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>-->
<!--                    {% endif %}-->

<!--                    {%  if request.endpoint == "about" %}-->
<!--                    <li class="nav-item"><a class="nav-link active" href="/about">About Us</a></li>-->
<!--                     {% else %}-->
<!--                    <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>-->
<!--                    {% endif %}-->

<!--                    {%  if request.endpoint == "register" %}-->
<!--                    <li class="nav-item"><a class="nav-link active" href="/register">Register</a></li>-->
<!--                    {% else %}-->
<!--                    <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>-->
<!--                    {% endif %}-->

                </ul>
            </div>
        </div>
    </nav>
