<!DOCTYPE html>
<html lang="en">

{% extends 'layouts/base.html' %}
{% block title %} home {% endblock %}


{% block body %} 

    <div class="container-md "style="height: 100vh">


        {% include 'layouts/navbar.html' %}
        {% block navbar %}{% endblock %}
        
        <div>
            <div style="width: 25%;" class="mt-3">
                <form class="d-flex flex-row">
                    <input class="form-control mr-sm-2 "  type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0 ms-2" type="submit">Search</button>
                </form>
            </div>
            <div >


            </div>

        </div>


        


        {% include 'product.html' %}
        {% block prod %}{% endblock %}

    </div>
{% include 'layouts/footer.html' %}
{% block footer %}{% endblock %}

{% endblock %}


</html>


