<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
          charset="UTF-8">
    <title>Flip a Coin</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/flipacoinstyle.css">
</head>
<body>
    <p>not my original code :( also navbar is not working</p>
    <div class="container">
        <div class="stats">
            <p id="heads-count">Heads: 0</p>
            <p id="tails-count">Tails: 0</p>
        </div>
        <div class="coin">
            <div class="heads">
                <img src="../static/heads.svg" alt="heads">
            </div>
            <div class="tails">
                <img src="../static/tails.svg" alt="tails">
            </div>
        </div>
        <div class="buttons">
            <button id="flip-button">Flip Coin </button>
            <button id="reset-button">Reset</button>
        </div>
    </div>

    <script src="../static/script.js"></script>
</body>
