/*  Img Logo  */

.circle-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background-color: #00f7ff;
}
.circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*  BUTTONS  */
.cus_btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #56a5eb;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #56a5eb;
    background-color: white;
}

.cus_btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.cus_btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}
