<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>რეგისტრაცია</title>
</head>

<body>
    <h1>რეგისტრაცია</h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        {{ form.submit }}
    </form>
    <br>
    <a href="{{ url_for('login') }}">გაქვთ ექაუნთი? მაშინ გაიარე ავტორიზაცია</a>
</body>

</html>