{% extends 'layouts/base.html' %}

{% block content %}
<div class="border mt-2 shadow rounded-2 p-2 " style="background-color: white">
    <center>
        {% if edit %}
        <h1 class="m-2">Change Product</h1>
        {% else %}
        <h1 class="m-2">Add Product</h1>
        {% endif %}
        <div class="container mt-2">
            <hr>
        </div>
    </center>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="p-2">
            <div class="mt-2">
                {{ form.part.label }}
                {{ form.part(class='form-control') }}
            </div>
            <div class="mt-2">
                {{ form.name.label }}
                {{ form.name(class='form-control') }}
            </div>
            <div class="mt-2">
                {{ form.description.label }}
                {{ form.description(class='form-control') }}
            </div>

            <div class="mt-2">
                {{ form.price.label }}
                {{ form.price(class='form-control', maxlength='64') }}
            </div>
            <div class="mt-2">
                {{ form.image.label }}
                {{ form.image(class='form-control') }}
            </div>
            <div class="mt-2">
                {% if edit %}
                {{ form.submit(class='btn btn-primary' ,value="Save") }}
                {% else %}
                {{ form.submit(class='btn btn-primary') }}
                {% endif %}

            </div>
        </div>
    </form>
</div>
{% endblock%}
