header h1{
    color: #0a53be;
}

body{
    background-color: #0dcaf0;
}

ul{
    list-style: georgian;
    font-size: 1.5rem;
}

#email{
    background-color: #FFFF99;
}

#submit{
    padding: 10px;
    border: 1px solid #0a53be;
}