{% extends "base.html" %}
{% block content %}
{% from 'auth_templates.html' import sign_in, register %}

<ul class="nav nav-tabs" id="auth-tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="login-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">შესვლა</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="register-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">რეგისტრაცია</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        {{ sign_in(form_sign_in) }}
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        {{ register(form_register) }}
    </div>
</div>

{% if show_flash %}
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}

        <ul class="alert alert-dismissible fade show" role="alert" style="position:absolute; top:170px; float:top; width: 100%; height: 45px; text-align: center">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </ul>
      {% endif %}
    {% endwith %}

{% endif %}

{% endblock %}
