{% extends "base.html" %}
{% block content %}
    <img src="https://media.licdn.com/dms/image/C4D03AQFuLbSLinx9gg/profile-displayphoto-shrink_800_800/0/1659991247163?e=2147483647&v=beta&t=NoVkzw-Wx3ZoTCvz1tkFRiIEry4y3V9p0jY1ymjJQl8" class="beka" alt="Beka">

    <p class="aboutbeka">
        Hello and welcome to my About Me page! My name is Beka Bitarashvili and I am a <b>Full Stack Developer</b> with a
        passion for creating dynamic and user-friendly websites and applications.

        I have always been interested in technology and how it can be used to make our lives easier. This interest led
        me to pursue a degree in Computer Science and since then I have been working on developing my skills as a
        developer.

        As a Full Stack Developer, I am comfortable working with both the front-end and back-end of web development. I
        am experienced in using HTML, CSS, JavaScript, and various frameworks such as React and Angular on the
        front-end. On the back-end, I am proficient in Node.js and PHP and have experience working with databases such
        as MySQL and MongoDB.

        I am a highly detail-oriented person and strive for perfection in all my work. I am also a great problem-solver
        and enjoy tackling complex challenges in order to create efficient and effective solutions.

        In my free time, I enjoy exploring new technologies and staying up to date on the latest trends in web
        development. I also enjoy hiking, photography, and spending time with my family and friends.

        Thank you for taking the time to read my About Me page and I look forward to the opportunity to work with you on
        your next project!
    </p>

{% endblock %}