{% extends "base.html" %}
{% block content %}
    <img src="https://images.theconversation.com/files/479421/original/file-20220816-10908-uvh62x.jpg?ixlib=rb-1.1.0&rect=4%2C5%2C994%2C497&q=45&auto=format&w=668&h=324&fit=crop" class="img-fluid" alt="Picture">

    <img src="https://lablab.ai/_next/image?url=https%3A%2F%2Fstorage.googleapis.com%2Flablab-static-eu%2Fimages%2Ftutorials%2FGPT-3_tutorial__Trip_Scheduler_6.jpg&w=3840&q=80" style="width: 500px; height: auto;max-height: 100%;" class="rounded float-start" alt="GPT">
    <img src="https://news.mit.edu/sites/default/files/styles/news_article__image_gallery/public/images/202012/MIT-Coding-Brain-01-press_0.jpg?itok=JKoUflf8" style="width: 500px; height: auto;max-height: 100%;" class="rounded float-end" alt="mind">

    <div class="textbox">
        <p>Coding, also known as programming, is the process of creating software, websites, applications, and other
            digital products using programming languages. It involves writing instructions in a specific language that a
            computer can understand and execute.

            Coding is an essential skill in today's digital age, as technology has become an integral part of almost
            every industry. From healthcare to finance, education to entertainment, coding is used to build and maintain
            the software and systems that make our lives easier and more convenient.

            There are many programming languages to choose from, such as Python, Java, C++, JavaScript, and Ruby, among
            others. Each language has its syntax, rules, and conventions, but they all share the same fundamental
            principles of programming, such as data types, variables, control structures, and functions.

            Learning to code requires practice, patience, and persistence. It can be challenging at first, but once you
            get the hang of it, coding can be a rewarding and fulfilling experience. Not only can it lead to lucrative
            career opportunities, but it can also help you develop problem-solving, logical thinking, and creativity
            skills.

            In conclusion, coding is an important skill in today's digital world, and it has become increasingly accessible thanks to online resources, courses, and communities. If you're interested in learning to code, there's never been a better time to start.
        </p>
    </div>
{% endblock %}