<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Top 4 hiking routes in Georgia</title>
    <link type ="text/css" href = "{{ url_for('static', filename = 'css/style.css') }}" rel = "stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">GeoTOP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
{% block content %}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        {% for button in menu -%}
      <li class="nav-item active">
        <a class="nav-link" href="{{button.url}}">{{button.name}}<span class="sr-only">(current)</span></a>
          {% endfor -%}
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
<h1>Top 4 hiking routes in Georgia</h1>
            <img
                    class="image1"
                src="{{ url_for('static', filename='first_pic.jpg') }}"
                alt="Wonders of Georgia"/>




<div class="introduction">
    <p>All right reserved. © sun_dro</p>
    <p>Let's start.</p>
</div>

    <h3>4. Nikoloz Romanovi Trail at Borjom-Kharagauli National park</h3>

            <img
                src="{{ url_for('static', filename='Borjomi.jpg') }}"
                alt="Borjomi"/>
<div class="description">
    <p>On the Nikoloz romanov's trail, you will come across coniferous and mixed forest, Lomi mountain, Lomi st.
        George church, scenic viewpoints with the scenery of the Caucasus, Colchic sub-tropical forest and st.
        George church. in addition to beautiful views, there are flourishing rhododendrons in May and June.
        In good weather, it is possible to see the highest peak of the great Caucasus and Europe – Elbrus.
        <br /><br />
        <br />My suggestion is to start from Likani and go for a round route (you can take two different routes).
        And don't forget about permission for camping from visitor's center of the park.<br />
    </p>
</div>
    <div class="plan">
        <h4>Itinerary</h4>
            <ul>
                <li>Start from Likani and camp near tourist shelter before Lomi mountain.</li>
                <li>Early wake up, walk to the top of the mountain Lomi and walk to church. Walk back to Likani taking another route.</li>
            </ul>
        </div>
    <div class="additional">
            <h4>Additional information</h4>
            <table border="0">
            <tr>
            </tr>
            <tr>
                <td>Difficulty:</td>
                <td>Easy</td>
            </tr>
            <tr>
                <td>Duration:</td>
                <td>2 days</td>
            </tr>
        </table>
        </div>
<h3>3. Juta - Roshka trail (including Abudelauri colorful lakes)</h3>

            <img
                src="{{ url_for('static', filename='Juta.JPG') }}"
                alt="Juta"/>
<div class="description">
    <p>Summer is the best season for traveling in the Georgian mountains.
        The landscape, heated by the sun and snow melting, gives you an opportunity to climb 4000 meters height without any special equipment.
        To do so, you only need a tent and waterproof shoes. In the region of Mtsheta-Mtianeti,
        there is one of the most beautiful and popular crossings from Khevi to Khevsureti, which is the hiking track of Juta-Abudelauri lakes.
        The route starts in Juta- at one of the highly populated spots (2200 meters above sea level) and ends in Roshka.
        <br /><br />
        <br />Since route starts in one place and ends in another, you should take a taxi, but hitchhiking is also working.<br />
    </p>
</div>
        <div class="plan">
        <h4>Itinerary</h4>
            <ul>
                <li>If you are in Juta before 12:00, so you are able to walk from Juta to Abudelauri blue lake and camp there.
                If no, you can camp before Chaukhi pass.</li>
                <li>According to your location, walk around colorful lakes (blue, green, white) and then take direction to Roshka.</li>
            </ul>
        </div>
    <div class="additional">
            <h4>Additional information</h4>
            <table border="0">
            <tr>
            </tr>
            <tr>
                <td>Difficulty:</td>
                <td>Easy</td>
            </tr>
            <tr>
                <td>Duration:</td>
                <td>2 days</td>
            </tr>
        </table>
        </div>
    <h3>2. Black rock lake trail</h3>

            <img
                src="{{ url_for('static', filename='black_rock.JPG') }}"
                alt="Black rock lake"/>
<div class="description">
    <p>Black Rock Lake is located in Kakheti, on the border of Georgia - Russia.
        It’s also known as Long Lake. It is situated in the main watershed of Kavkasioni ridge, 2800 meters from the sea level.
        This is one of the most interesting trails in all of Georgia and is distinguished by its astounding views of the Alazani valley and the Caucasus mountains.
    </p>
    </div>
                    <div class="plan">
        <h4>Itinerary</h4>
            <ul>
                <li>First day is quite hard going up and camping near "Meteo" turist shelter.</li>
                <li>Second day from the tourist shelter to the lake and than to tourist shelter "Demidovi Appartement".</li>
                <li>Third day is for travelling from the tourist shelter "Demidovi Appartement" to the administration building. </li>
            </ul>
                        </div>
    <div class="additional">
            <h4>Additional information</h4>
            <table border="0">
            <tr>
            </tr>
            <tr>
                <td>Difficulty:</td>
                <td>Medium</td>
            </tr>
            <tr>
                <td>Duration:</td>
                <td>3 days</td>
            </tr>
        </table>
        </div>
    <h3>1. Keli plateau and Kelitsadi lake</h3>

            <img
                src="{{ url_for('static', filename='keli.jpg') }}"
                alt="Kelitsadi lake"/>
<div class="description">
    <p>Kelitsadi Lake is located in Kazbegi Municipality, at 3081 above sea level.
        It is one of the highest located lakes in Georgia. If you love wild, untouched nature and not afraid of difficulties, then this route is for you.
        The lake is located at 3081 meters above sea level, on the keli highland. Getting here is just possible by foot.
        No one dares to go there by horseback. This is why the lake is the wildest and untouched.
        <br /><br />
        <br />My advice is to start from Truso valley and end at Keterisi village.<br />
    </p>
</div>
                        <div class="plan">
        <h4>Itinerary</h4>
            <ul>
                <li>First day is not very hard. You need around 4-5 hours until "Samotxe"(heaven) camping spot.</li>
                <li>Second day is taught. You need to climb on Khorisari pass (3450m) and then walk done to the lake. Camp near lake.</li>
                <li>Third day you are hiking back from Lake to Keterisi village. Be careful and always check GPS not to appear in South Osetia.</li>
            </ul>
                            </div>
    <div class="additional">
            <h4>Additional information</h4>
            <table border="0">
            <tr>
            </tr>
            <tr>
                <td>Difficulty:</td>
                <td>Hard</td>
            </tr>
            <tr>
                <td>Duration:</td>
                <td>3 days</td>
            </tr>
        </table>
        </div>
</div>
</body>
</html>
