body {
    font-family: "BPG Nino Elite Exp Caps", sans-serif;
}

h1{
    font-family: 'Oleo Script Swash Caps', cursive;
    text-align: center;
}

p {
    font-size: 20px;
    font-family: cursive;
    color: #002c53;
}

#second {
    font-style: italic;
}

#georgian {
    font-family: "ALK Rex Bold", sans-serif;
}