{% extends "layouts/base.html" %}

{% block title %}
    Flask Webproject - Products
{% endblock %}

{% block body %}

    <div class="row">
        {% for product in prlist %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> {{ product.name }}</h5>
                    <p class="card-text"> {{ product.description }}</p>
                    <a href="{{ url_for('products.view_product', id=product.id) }}" class="btn btn-primary">Details</a>
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('products.edit_product', id=product.id) }}" class="btn btn-warning">Edit</a>
                        <a href="{{ url_for('products.delete_product', id=product.id) }}"
                           class="btn btn-danger">Delete</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
