{% macro modify_link(method) %}
    {% if method == "upload" %}
        .
    {% endif %}
{% endmacro %}

{% macro create_navlink(endpoint, text) %}
    {% if endpoint == request.endpoint %}
        {% if endpoint == "user.user_profile" %}
            <a class="nav-link active" style="color: #ce5a67" href="{{url_for(endpoint, username=text)}}"><b>{{ text }}</b></a>
        {% else %}
            <a class="nav-link active" style="color: #ce5a67" href="{{url_for(endpoint)}}">{{ text }}</a>
        {% endif %}
    {% else %}
        {% if endpoint == "petitions.create_petition" %}
            <a class="nav-link" href="{{url_for(endpoint, img='upload')}}">{{ text }}</a>
        {% else %}
            {% if endpoint == "user.user_profile" %}
                <a class="nav-link" href="{{url_for(endpoint, username=text)}}"><b>{{ text }}</b></a>
            {% else %}
                <a class="nav-link" href="{{url_for(endpoint)}}">{{ text }}</a>
            {% endif %}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro calculate_percentage(voters, goal, custom=False, zero=False) %}
    {% if custom %}
        style="width: {{ (voters / goal) * 100 }}%; padding: 10px; font-size:20px;"
    {% elif zero %}
        style="width: {{ (voters / goal) * 100 }}%; background-color: #fcf5ed; padding-left: 10px; font-size:20px;"
    {% else %}
        style="width: {{ (voters / goal) * 100 }}%; background-color: #ce5a67; padding: 10px; font-size:20px;"
    {% endif %}
{% endmacro %}