{% extends 'layouts/base.html' %}

{% block content %}
<div class="border mt-2 shadow rounded-2 p-2 " style="background-color: white">
    <center>
        <h1 class="m-2">Registration</h1>
        <div class="container mt-2">
            <hr>
        </div>
    </center>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="p-2">
            <div class="mt-2">
                {{ form.username.label }}
                {{ form.username(class='form-control') }}
            </div>
            <div class="mt-2">
                {{ form.email.label }}
                {{ form.email(class='form-control') }}
            </div>
            <div class="mt-2">
                {{ form.password.label }}
                {{ form.password(class='form-control', maxlength='64') }}
            </div>
            <div class="mt-2">
                {{ form.confirm_password.label }}
                {{ form.confirm_password(class='form-control') }}
            </div>
            <div class="mt-2">
                {{ form.submit(class='btn btn-primary') }}
            </div>
        </div>
    </form>
    <div class="mx-2">
        <small>Have an account? Log in from <a href="{{ url_for('auth.login') }}">here</a></small>
    </div>
</div>
{% endblock%}
