{% extends 'layouts/base.html' %} {% block head %}
<title>TEAM-APP | LOGIN</title>
<script src="https://www.google.com/recaptcha/api.js"></script>

<script>
  function onSubmit(token) {
    document.getElementById("login").submit();
  }
</script>

{% endblock%}

{% block body %}

<div class="container form-cont">
    <h1>Please Login</h1>
    <form method="POST" action="{{url_for('auth.login')}}" id="login">
        <div class="form-control">
        {{form.hidden_tag()}}
    </div>
    <div class="form-control">
        {{renderfield(form.name)}}
    </div>
    <div class="form-control">
        {{renderfield(form.password)}}
    </div>
    <button
    type="submit"
    class="g-recaptcha form-btn"
    data-sitekey="{{public_key}}"
    data-callback="onSubmit"
    data-action="submit"
  >
    Login
  </button>
      <p class="text">Don't have an account?<a href="register"> Register</a></p>
    </form>
  </div>
</div>


{% endblock%}