<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
        <script src="https://kit.fontawesome.com/b1609179cd.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
        <title>Title</title>
    </head>
    <body>
        <header>
            <div class="container">
                <nav>
                    <ul class="nav-ul">
                        <li class="nav-li">
                            <a class="nav-link active" href="{{ url_for('public.home') }}">Home</a>
                        </li>
                        <li class="nav-li">
                            <a class="nav-link" href="{{ url_for('posts.add') }}">Create</a>
                        </li>
                        <li class="nav-li">
                            <a class="nav-link" href="{{ url_for('posts.posts_list') }}">Read</a>
                        </li>
                        <li class="nav-li">
                            <a class="nav-link" href="{{ url_for('posts.update') }}">Update</a>
                        </li>
                        <li class="nav-li">
                            <a class="nav-link" href="{{ url_for('posts.delete') }}">Delete</a>
                        </li>
                        <li class="nav-li">
                            <a class="nav-link" href="{{ url_for('public.profile') }}">Profile</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        {% block content %}
        {% endblock %}
        <footer>
            <div class="container">
                <div class="footer-content">
                    <p>Copyright 2022</p>
                    <p>Created by <span><a href="https://github.com/gigaamiridze">Giga Amiridze</a></span></p>
                </div>
            </div>
        </footer>
    </body>
</html>