html {
    background-color: #32475c;
}

.section {
    background-color: white;
    border: 2px solid black;
    border-radius: 12px;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;

}

.table {
    border: 1px solid black;
}

.table tr {
    outline: solid thin;
}

.btn {
    margin: 12px;
    width: 128px;
    height: 32px;
    background-color: white;
    border: 2px solid lightgreen;
    border-radius: 12px;
    cursor: pointer;
    transition: 1s
}

.btn:hover {
    background-color: lightgreen;
    border: 6px solid white;

    transition: 1s
}

.color-red {
    color: red;
}

#start {
    color: red;
    text-align: center;
}