{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-md-6 offset-md-3">
      <h1 class="text-center"> Book with us ! </h1>
  </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">First Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="e.g John">
            </div>
        </form>
    </div>

    <div class="col-lg-4">
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Last Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="e.g Smith">
            </div>
        </form>
    </div>

    <div class="col-lg-2">
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">From:</label>
                <input type="date" class="form-control" id="exampleFormControlInput1">
            </div>
        </form>
    </div>

    <div class="col-lg-2">
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">To:</label>
                <input type="date" class="form-control" id="exampleFormControlInput1">
            </div>
        </form>
    </div>

</div>
<div class="row">
    <div class="col-lg-3">
        <div class="form-group">
        <label for="exampleFormControlSelect1">Number of Adults</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>

    <div class="col-lg-3">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Number of Children (under 6 years)</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitch1"> <br/> <br/>
          <label class="custom-control-label text-right" for="customSwitch1">I will bring pets with me</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2 offset-md-5">
        <button type="submit" class="btn btn-primary">Submit reservation</button>
    </div>
</div>

{% endblock %}