{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-md-6 offset-md-3">
      <h1 class="text-center"> Contact us ! </h1>
  </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">First Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="e.g John">
            </div>
        </form>
    </div>

    <div class="col-lg-3">
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Last Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="e.g Smith">
            </div>
        </form>
    </div>

    <div class="col-lg-6">
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Enter your email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="example@example.com">
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-2 offset-lg-3">
        Leave your message here!
    </div>
</div>
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <textarea rows="10" cols="80" class="center">

        </textarea>
    </div>
</div>

<div class="row">
    <div class="col-md-2 offset-md-5">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>

{% endblock %}