{% extends "layouts/base.html" %}
{% block content %}

    <div class="container rounded shadow bg-white h-75 p-4" style="margin-top: 120px">
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.product_name(class="form-control", placeholder=form.product_name.label.text, value=product.name) }}
            </div>
            <div class="mb-3">
                {{ form.product_category(class="form-control", placeholder=form.product_category.label.text, value=product.category.name) }}
            </div>
            <div class="mb-3">
                {{ form.price(class="form-control", placeholder=form.price.label.text, value=product.price) }}
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
{% endblock %}