{% extends "base.html" %}
{% block body %}
<h1>მოგესალმებით საიტზე</h1>

    <div class="container-div">
    <b><label for="name">ავტორიზაცია</label></b><br>
    <input type="text" name="name" id="name" placeholder="შეიყვანეთ ელ-ფოსტა"><br>
    <input type="password" name="password" id="password" placeholder="შეიყვანეთ პაროლი"><br>
    </div>
    <div class="container-div">
        <b><p>აირჩიეთ სქესი</p></b>
    <input type="radio" value="male">მდედრობითი
    <input type="radio" value="female">მამრობითი
    </div>
    <div class="container-div">
    <b><p>შეიყვანეთ წონა</p></b>
    40kg<input type="range" name="weight">200kg <br>
    <b><label for="birthday">დაბადების თარიღი</label></b><br>
    <input type="date" name="birthday" id="birthday">
    </div>
<div class="container-div">
    <b><p>აირჩიე აქტივობა</p></b>
    <input type="checkbox" name="activiti" value="ioga">იოგა
    <input type="checkbox" name="activiti" value="crossfit">ქროსფითი
    <input type="checkbox" name="activiti" value="pilates">პილატესი
    <input type="checkbox" name="activiti" value="judo">ძიუდო
    <input type="checkbox" name="activiti" value="fitness">ფიტნესი
    <br>
    <br>
<a href="about.html" class="submit-btn">ავტორიზაცია</a>
</div>
{% endblock %}
