<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>გამოიწერეთ ახალი ამბები</h1>
    <div class="container">
        <form method="POST">
            {{ form.hidden_tag() }} <br>

            <label for="{{ form.username.id }}" class="form-label">{{ form.username.label }}</label>
             {{ form.username(class="form-control") }}<br>
            {% if form.username.errors %}

              <div class="form-text" style="color: red">
                {% for error in form.username.errors %}
                    {{ error }} <br>
                {% endfor %}
              </div>

            {% endif %}

            <label for="{{ form.password.id }}" class="form-label">{{ form.password.label }}</label>
             {{ form.password(class="form-control") }}<br>
            {% if form.password.errors %}

              <div class="form-text" style="color: red">
                {% for error in form.password.errors %}
                    {{ error }} <br>
                {% endfor %}
              </div>

            {% endif %}

            
            <label for="{{ form.confirm_password.id }}" class="form-label">{{ form.confirm_password.label }}</label>
             {{ form.confirm_password(class="form-control") }}<br>

            <label for="{{ form.terms_agreement.id }}" class="form-label">{{ form.terms_agreement.label }}</label>
             {{ form.terms_agreement(class="form-control") }}<br>

            <label for="{{ form.subscription_till.id }}" class="form-label">{{ form.subscription_till.label }}</label>
             {{ form.subscription_till(class="date", type="date") }}<br>

            <label for="{{ form.type.id }}" class="form-label">{{ form.type.label }}</label>
             {{ form.type(class="form-control") }}<br>

            <label for="{{ form.comment.id }}" class="form-label">{{ form.comment.label }}</label>
             {{ form.comment(class="form-control") }}<br>

             {{ form.submit(class="form-control") }}<br>

        </form>
    </div>

{% if user_input %}
    <div class="container">
        <h1>საბოლოო შედეგი:</h1>
        {% for key in user_input.keys()  %}
            {{ key }}: {{ user_input[key] }} <br>
        {% endfor %}
    </div>
{% endif %}

</div>

</body>
</html>