{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">About Us</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dolores eligendi eos eveniet, iusto, molestiae, mollitia odit ratione recusandae saepe sunt vel? Accusamus amet animi debitis error nihil quasi quisquam!</p>
          <hr class="my-4">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequuntur debitis deleniti eius expedita explicabo facere id, molestiae nemo nihil nostrum nulla odio perferendis placeat quo rerum veritatis vitae voluptate.</p>
          <p class="lead">
            <a class="btn btn-warning btn-lg" href="{{ url_for('main.home_page') }}" role="button">Home</a>
          </p>
    </div>
</div>
{% endblock %}