h2 { font-family: Butcherman Caps; color: #960FFF; font-size: 64px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; text-align: center;}

b { font-family: Eater Caps; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; color: dark blue;}
dl { font-family: Walter Turncoat; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; }

body{
background-image: url("https://i.pinimg.com/originals/e2/fb/0b/e2fb0b2ac9b7e82275eacc8c2ee9c846.jpg");

}

img{
border-radius: 45%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.centering{
text-align: center;
}
