{% from "macros.html" import create_navlink %}
<nav class="navbar navbar-expand-lg mb-1 shadow" style="background-color: white">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('main.home') }}">Bike Market</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                {{ create_navlink('main.home', 'Home') }}
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page"
                           href="{{ url_for('profiles.profile', username=current_user.username) }}">
                            {{ current_user.username }}
                        </a>
                    </li>
                    {{ create_navlink('products.add_products', 'Add') }}
                    {{ create_navlink('auth.logout', 'Log Out') }}
                {% else %}
                    {{ create_navlink('auth.login', 'Log In') }}
                    {{ create_navlink('auth.register', 'Sign In') }}
                {% endif %}

                {% if current_user.is_authenticated and current_user.role.name == "admin" %}
                <div class="bg-secondary rounded">
                    {{ create_navlink('admin.index', 'Admin Panel') }}
                </div>
                {%endif %}
            </ul>
        </div>
    </div>
</nav>