
{% block register %}

<form method="post" enctype="multipart/form-data">
  {{ regform.hidden_tag() }}

  <div class="modal fade" id="registrationModal" tabindex="-1" aria-labelledby="registrationModalLabel" aria-hidden="true"  style="border-radius: 3rem;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div class="modal-body">
            <div class="card-body p-5 text-center">
              <h3 class="mb-5">Sign in</h3>
              <div data-mdb-input-init class="form-outline mb-4">
                {{ regform.username_reg(class="form-control form-control-lg", placeholder="Username") }}

              </div>

              <div data-mdb-input-init class="form-outline mb-4">
                {{ regform.email_reg(class="form-control form-control-lg", placeholder="Email") }}
              </div>

              <div data-mdb-input-init class="form-outline mb-4">              
                {{ regform.password_reg(class="form-control form-control-lg", placeholder="Password") }}
              </div>
              <div data-mdb-input-init class="form-outline mb-4">
                {{ regform.repeat_password_reg(class="form-control form-control-lg", placeholder="Re-Type Password") }}
              </div>
              <div class="form-check d-flex justify-content-start mb-4">
                <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                <label class="form-check-label" for="form1Example3"> Terms And Privacy </label>
              </div>

              {{ regform.submit_reg(class="btn btn-outline-info btn-lg btn-block w-100", type="submit") }}

            </div>

          </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}



