{%macro show_links( current_user )%}
<ul>
  <li>
    <a href="{{url_for('main.index')}}"><i class="fas fa-home"></i>Home</a>
  </li>
  {% if not current_user.is_authenticated %}
  <li>
    <a href="{{url_for('auth.login')}}"
      ><i class="fa-solid fa-right-to-bracket"></i> Login</a
    >
  </li>
  <li>
    <a href="{{url_for('auth.register')}}"
      ><i class="fa-solid fa-user-plus"></i> Register</a
    >
  </li>
  {% endif %} {% if current_user.is_authenticated and current_user.roles[0] |string !='admin' and
  current_user.roles[0] |string !='senior' %}
  <li>
    <a href="{{url_for('main.ask')}}"
      ><i class="fa-solid fa-question"></i> Ask Questions</a
    >
  </li>
  {% endif %} {% if current_user.is_authenticated and current_user.roles[0] |string !='admin' and
  current_user.roles[0] |string !='intern' %}
  <li>
    <a href="{{url_for('main.unanswered')}}"
      ><i class="fa-brands fa-replyd"></i> Answer
    </a>
  </li>
  {% endif %}  {% if current_user.is_authenticated %}
  <li>
    <a href="{{url_for('auth.logout')}}"
      ><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a
    >
  </li>
  {% endif %}
</ul>

{%endmacro%}

{%macro renderfield(field)%}
<div>
  <div>
    {{field(**kwargs)}}
    <label for="{{field.name}}" class_="form-control label"
      >{{field.label.text}}</label
    >
    </div>
    <ul>
      {% for error in field.errors%}
      <li style="color: #8b0f32">{{error}}</li>
      {%endfor%}
    </ul>
    </div>
    {%endmacro%}
  </div>
</div>

{%macro nolabel(field)%}
<div>
  <div>
    {{field(**kwargs)}}
    </div>
    <ul>
      {% for error in field.errors%}
      <li style="color: #8b0f32">{{error}}</li>
      {%endfor%}
    </ul>
    </div>
    {%endmacro%}
  </div>
</div>

{%macro render_radio(field)%}
<div class="form-check form-check-inline">
  {{field}}
  {{field.label.text}}
  <label class="form-check-label"></label>
</div>
<div class="form-check form-check-inline">
  {{field}}
  {{field.label.text}}
  <label class="form-check-label"></label>
</div>
<div class="form-check form-check-inline">
  {{field}}
  {{field.label.text}}
  <label class="form-check-label"></label></a>
</div>
<div>
  <div>
   
    </div>
    <ul>
      {% for error in field.errors%}
      <li style="color: #8b0f32">{{error}}</li>
      {%endfor%}
    </ul>
    </div>
    {%endmacro%}
  </div>
</div>