{% extends 'base.html' %} {% block head %}
<title>TEAM-APP | LOGIN</title>
{% endblock%}

{% block body %}

<div class="container form-cont">
    <h1>Please Login</h1>
    <form method="POST" action="{{url_for('auth.login')}}">
      <div class="form-control">
        <input
          type="text"
          id="name"
          name="name"
          required
        />
        <label for="name">Name</label>
      </div>
      {% if error_message%}
      <div class='alert alert-danger'>{{error_message}}</div>
      {%endif%}
      <div class="form-control">
        <input
          type="password"
          id="password"
          name="password"
          required
        />
        <label for="password">Password</label>
      </div>
        <button type="submit" class="form-btn">Login</button>
      <p class="text">Don't have an account?<a href="register"> Register</a></p>
    </form>
  </div>
</div>


{% endblock%}
