{% extends 'main.html' %}
{% block content %}
    <div style="width: 50%;margin-left: 400px;margin-top: 100px;">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Student</th>
          <th scope="col">Age</th>
          <th scope="col">Subject</th>
          <th scope="col">Point</th>
          <th scope="col">Cuntry</th>
        </tr>
      </thead>
      <tbody>
      {% for stud in students_data %}
        <tr>
          <td>{{ stud['name'] }}</td>
          <td>{{ stud['age'] }}</td>
          <td>{{ stud['subject'] }}</td>
          <td>{{ stud['grade'] }}</td>
          <td>{{ stud['country'] }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>

{% endblock %}