{% extends 'base.html' %}
{%block head%}
    <title>
        SRC-home 
    </title>
{%endblock%}

    {%block content%}
        <div class="card text-center" style="width:100%; margin-top:2.5%; background-color:rgba(181, 209, 222, 0.8)">
            <div class="card-body">
                    <h5 class="card-title">HERE YOU CAN TAKE LITTLE SURVEY, that takes a minute/ Or registate to create SURVEY</h5>
                    <a href='registrate' class="btn btn-primary">REGISTATE</a>
                    <a href='allactive' class="btn btn-secondary">SURVEY</a>
                    <h6>It hepls us to develope our service</h6>
            </div>
        </div>
    {%endblock%}

</html>