<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: #eff2f6">

<nav class="navbar navbar-expand-lg mb-4" style="background-color: #ffffff; box-shadow: 0 2px 3px #00000012">
    <div class="container">
        <a class="navbar-brand" href="#">Demo App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href=" {{ url_for('main.home_page') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {{ url_for('main.about_us') }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.contact_us') }}">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"/>
</body>
</html>