{% extends "base.html" %}
{% block content %}

<div class="blockstyle">
    <h1 class="blocktitle">ბლოგის შესახებ</h1>
    <p class="blocksubtitle">მიზანი</p>
    <p class="blocktext">ვებ-გვერდის მიზანია ხალხის ინფორმირება <b>მომავლის ამბების</b> შესახებ. მომავლის ამბები შეიძლება ეხებოდეს ვალუტის კურსის ცვლილებებს, ამინდის პროგნოზს, ბუნებრივ კატასტროფებს, პოლიტიკურ მოვლენებს, საფონდო ბირჟის ფლუქტუაციებს, უბედურ შემთხვევებს და ნებისხმიერ სხვა მნიშვნელოვან მოვლენას.</p>
    <br>
    <p class="blocksubtitle">მუშაობის პრინციპი</p>
    <p class="blocktext">მომავლის ამბების გამოვლენის პრინციპი აგებულია სასაათო სარტყლების იდეაზე. ბლოგის ავტორები მოღვაწეობენ იაპონიაში, რომელიც საქართველოსთან შედარებით <b>5 საათით წინაა</b>. მაგალითად, როცა საქართველოში დღის 4 საათია, იაპონიაში ამ დროს უკვე საღამოს 9 საათია. შესაბამისად, თუ საქართველოში დღის 4 საათზე რაიმე მნიშვნელოვანი მოხდება, იაპონელებს ამის შესახებ 5 საათით ადრე ეცოდინებათ, <i> რადგან მათთან დღის 4 საათი 5 საათის წინ იყო</i>. შესაბამისად, იაპონელებს 5 საათი ეძლევათ, რათა ქართველები გააფრთხილონ ამ მოვლენის შესახებ.</p>
</div>

{% endblock %}
