{% extends 'base.html' %} {% block head %}
<title>TEAM-APP | ANSWER</title>
{% endblock%}

{% block body %}
<div class='ask'>
  <div class="wrapper">
    <form action="{{url_for('main.answer', question_id=question.id)}}" method="POST">
      <fieldset>
        <h1 class='ans'>{{question.question}}</h1>
        <textarea
        placeholder="Type your answer here..."
        rows="3"
        name="answer"
        required
      ></textarea>
      <button type="submit" class="ask-btn">Submit your answer</button>
    </fieldset>
  </form>
</div>
</div>
</div>{% endblock%}

