{% extends "base.html" %}

{% block title %}
    Flask Webproject - Products
{% endblock %}

{% block body %}
<div class="content flex-center flex-column">
    <h1>High Scores</h1>
    <div class="table-header">TOP მომხმარებლები რომელთაც ყველაზე მაღალი ქულა აქვთ:</div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Gender</th>
            <th scope="col">Email</th>
            <th scope="col">Quiz</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark Otto</td>
            <td>Male</td>
            <td>mark_otto@mdo.com</td>
            <td>Math</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Mark Otto</td>
            <td>Male</td>
            <td>mark_otto@mdo.com</td>
            <td>Geography</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>Female</td>
            <td>larry_the_bird@mdo.com</td>
            <td>History</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Larry</td>
            <td>Female</td>
            <td>larry_@mdo.com</td>
            <td>Geography</td>
          </tr>
        </tbody>
    </table>
    <a class="cus_btn" href="{{ url_for('index') }}">Go To Home Page</a>
</div>
{% endblock %}
