{% extends "base.html" %}

{% block title %}
    Quick Quiz - Registration
{% endblock %}

{% block body %}
    <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="content">
            <h1>Start Quiz</h1>
        </div>
        <form class="form">
            <p>First name:</p>
            <input type="text" id="username" name="username" onfocus="this.value=''" value="Enter Username">

            <p>Gender:</p>
            <div class="radio-row">
                <input type="radio" id="male" name="gender">
                <label for="male">Male</label>
    
                <input type="radio" id="female" name="gender">
                <label for="female">Female</label>
            </div>
    
            <p>Email:</p>
            <input type="email" id="email" name="email" onfocus="this.value=''" value="example@gmail.com">

            <p>Choose Quiz:</p>
            <select class="form-select-lg" aria-label="Default select example">
                <option>Choose Subject</option>
                <option value="Math">Math</option>
                <option value="History">History</option>
                <option value="Geography">Geography</option>
            </select>
        </form>
        <button class="cus_btn">Start</button>
        <a class="cus_btn" href="{{ url_for('index') }}">Go To Home Page</a>
    </div>
{% endblock %}