{% extends base %}

{% import "bootstrap/wtf.html" as wtf %}

{% block Title %}
<title>GeoPath</title>
{% endblock %}


{% block content %}
<div class="container-fluid pt-3 pb-0 mb-0" style="width: 90%">
  <div class="row">
    <div class="col-lg-4 image-container pr-0 mr-0 mt-3">
      <img src="../static/550px-Regions_of_Georgia.svg.png" alt="" style="width: 90%; height: 90%">
    </div>
    <div class="col-lg-8 text-center pl-0 ml-0 pt-2 mt-5" style="font-weight: bold; font-size: 40px">
      <p> {{titles[0]}} <br /> {{titles[1]}}</p>
    </div>
  </div>
</div>
<hr class="pt-0 mt-0"/>

<div class="container pt-3 pb-4 border rounded" style="background-color: #ADD8E6 ">
  <form method="POST" action="" enctype="multipart/form-data">
    <div class="row ml-1">
        <p class="mb-2" style="font-weight: bold; font-size: 30px;">{{titles[2]}}</p>
    </div>
    <hr class="ml-0 mt-0"/>
    <div class="form-row">
      <div class="form-group col-md-3">
        {{ wtf.form_field(form.type, class="form-control", id="PathogenType") }}
      </div>
      <div class="form-group col-md-3">
        {{ wtf.form_field(form.genus, class="form-control", id="Genus", placeholder="e.g. Staphylococcus") }}
      </div>
      <div class="form-group col-md-3">
        {{ wtf.form_field(form.species, class="form-control", id="Species", placeholder="e.g. S. Aureus") }}
      </div>
      <div class="form-group col-md-3">
        {{ wtf.form_field(form.strain, class="form-control", id="Strain", placeholder="e.g. MRSA") }}
      </div>

    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        {{ wtf.form_field(form.region, class="form-control", id="Regions") }}
      </div>
      <div class="form-group col-md-4">
        {{ wtf.form_field(form.start, class="form-control", id="Date1") }}
      </div>
      <div class="form-group col-md-4">
        {{ wtf.form_field(form.end, class="form-control", id="Date2") }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-check pl-2">
        {{ wtf.form_field(form.check, id="GenotypeCheck") }}
      </div>
    </div>
    <div class="form-row pl-2">
      <div class="form-group">
        {{ form.file.label}}
        <br />
        <input type="file" id="file" name="doc_file" accept=".fasta" />
      </div>
    </div>
    <div class="form-group col-12 pl-1">
        {{ wtf.form_field(form.fasta, class="form-control", id="Fasta") }}
    </div>

    <div class="col text-center pt-2">
      {{ wtf.form_field(form.submit, class="btn btn-primary btn-md btn-outline-light mx-auto",
      style="width: 15%") }}
    </div>
  </form>
</div>

<br />
<br />

{% endblock %}
