{% extends 'base.html' %}

{% block title %}
    შესახებ
{% endblock %}

{% block body %}
    <div class="container-md bg-white rounded-4 p-5 m-3 mx-auto shadow">
        <div class="row m-2 p-1 bg-primary text-white rounded">
            <div class="col">
                <p class="pt-2"> არცერთი გადარჩენილი სიცოცხლე, წელიწადში 3 კლიენტი, ჩემი კატა, ქუჩის ცუგა და შემოპარული
                    თაგვი, ჯობს არ დაგვიკავშირდეთ &#128512;</p>
            </div>
        </div>
        <div class="row p-2">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="../static/avicuga.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">პროფესიონალი! კათეტერის გაკეთება შეუძლია</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}